[2020-12-29 03:04] sonygod opened #1 "type expr unknown: *ast.BinaryExpr"
try to test some base lib at go

`go version go1.13.8 linux/amd64`

` ./go2hx github.com/buger/jsonparser`

`type expr unknown: *ast.BinaryExpr
type expr unknown: *ast.BinaryExpr
type expr unknown: *ast.BinaryExpr
type expr unknown: *ast.CallExpr
type expr unknown: *ast.CallExpr
src/Parser.hx:28: pkgs amount: 1
Failed to format github_com/buger/Jsonparser.hx: failed to create parser context: faile

[2020-12-29 03:06] sonygod commented on #1
another lib :

   ` ./go2hx github.com/tidwall/btree`

`github_com/tidwall/Btree.hx:12: characters 67-68 : Expected expression`

[2020-12-29 07:01] PXshadow commented on #1
Hey Sonygod, thanks so much for showing interest! It's currently still very expirimental and unable to do full library conversions, in most part because go's low level standard library is not finished being written. I'll use these libraries as testcases and attempt to work torwards supporting the spec for these libraries, and keep you updated, thank you! 😃

[2020-12-29 07:57] PXshadow opened #2 "Exported code as a library"
Currently the exported code is an isolated project with its own build hxml and pulling of haxe libraries.

* make go2hx a haxelib and lix library with other library dependencies.
* Only add a build.hxml and .haxerc if the exported code is a main file.
* change bin name to the projects name somehow, either by the file name/ go module etc
* don't add the std in the export folder, use go2hx's standar

[2020-12-29 08:36] PXshadow opened #3 "tooling executable"
Make Go's tooling much easier to use across all targets.

* export.bson included where the tool is ran and removed once used.
* bundle go's executable within haxe and add to where the command is called, delete after generation/testing is complete.
* produce the build tools in github action and add to releases, each minor version update.
* let the tool be used by haxelib git, lix, and npm
* npm ins

[2020-12-29 08:51] PXshadow opened #4 "test suite"
* github actions, use node github action and run npm install and npm build.
* use executable to run a tailored test suite from go2hxTest's repo
* improve go2hx's error logging system, use log instead most likely.
* If go2hx has a problem generating/building/running it will produce a error.txt and the sys output will be to please report an issue here like the prompt haxe has. in the file there will

[2020-12-30 12:30] PXshadow opened #5 "Plug and Play"
go2hx should make it extremly easy to use go libraries from haxe. The default options should cover 95% of cases, and the plugging should be intelligent on how it structures things for the end user.

* callback on the go side if the path of the library was not found.
* don't fail instantly rather check a few cases, for instance attempting to go get the path and re running.
* remove potential human

[2021-01-03 10:09] #5 closed

[2021-01-03 10:12] PXshadow commented on #3
Decided to only support lix as the package manager distribution, as it is straight forward to download, has a great library management system, and can setup both the tooling executable by building the project its self using lix and  lix install go2hx for the gotstd package.

[2021-01-03 10:12] #3 closed

[2021-01-03 10:14] PXshadow commented on #2
All of this is done except isolating the haxe.hxml if there is multiple golibs, right now the build.hxml is rewritten and sits at top level of the gostd directory.

[2021-01-05 21:07] PXshadow opened #6 "Major rewrite of the typer from Go to Haxe"
A rewrite of the typer from Go to Haxe.

What things it will solve.

* Go's type inference being diffrent then Haxe (example: division for ints)
* Infered interfaces
* Hard setting all infrence so the inference is not diffrent then Haxe's
* Easier to debug the process of typing and conversion
* Keep the Go part completly stable and not needed to rebuild.
* No longer need to use gorename witch is q

[2021-01-16 20:09] #2 closed

[2021-02-04 11:03] PXshadow commented on #6
This is now bascially complete, some points need to be implemented still, but the concepts are now developed.

[2021-02-04 11:03] #6 closed

[2021-02-07 09:07] PXshadow opened #7 "Refractor ExprDef system"
Alot of the code currently uses ExprDef enum defines, it is not needed as ComplexTypes can be macro unified with the really nice macro keyword, so go through the codebase and remove all unneeded exprdefs, except complicated things like switch and function.

[2021-02-08 17:43] #7 closed

[2021-02-08 17:50] PXshadow opened #8 "Go TypeSwitch"
Currently can not use Abstracts as values for the "is" operator, blocked by needed compiler changes. https://github.com/HaxeFoundation/haxe/issues/2976

[code]

[2021-02-13 23:52] PXshadow opened #9 "Target conditionals for native numerical types"
If there is a native equivlant to a number type it should replace go2hx's version.

[2021-02-14 15:31] elliott5 commented on #8
My prototype code for handling this issue is based on the following ideas:
1) keep the abstracts to make normal working fast for Go types
2) when converting that abstract to a Go 'interface{}' type (modelled as Haxe 'Any' type) place that abstract value into a Haxe Class for that purpose
3) all Go Classes must implement the GoInterface Haxe interface spec

[prototype](https://gist.github.com/ellio

[2021-02-14 15:38] elliott5 opened #10 "Slice negative indexes"
Go does bounds checking on arrays and slices.

Some (all?) of the Haxe implementations do bounds checks on haxe.ds.Vector which is used for Go arrays.

For slices though, which may start after the 0th element of the underlying array, a check for a negative index is also required in [SliceData boundsCheck()](https://github.com/PXshadow/go2hx/blob/master/stdgo/Slice.hx#L118).

[2021-02-14 18:52] elliott5 commented on #9
The [haxe.Int32](https://github.com/HaxeFoundation/haxe/blob/4.2.0/std/haxe/Int32.hx) implementation provides an excellent example of how a generic implementation of Go's types might be done, especially with respect to the clamp() function and high-bit extension, plus other adjustments, where required by different implementations.

What will require some work, is working-out how to use implementat

[2021-02-14 21:04] #10 closed

[2021-02-15 12:52] elliott5 commented on #9
Updated a [prototype gist](https://gist.github.com/elliott5/dd7e29e7d9d48f79a5e5fd75dd7f1e2a) for the Go uint8 abstraction to use C "unsigned char" when the hl target is used (generates correct looking C code).

[code]

[2021-02-15 12:59] elliott5 commented on #8
While the abstracts for each emulated Go numeric data type will be different depending on which Haxe target is being compiled for, the Haxe Classes used to simulate Go interface{} entries will be the same. These Classes could therefore be auto-generated in some way. In TardisGo I wrote a Go function to spit them all out, I'm guessing there are probably better ways to do it in Haxe! ;)

[2021-02-15 16:00] elliott5 commented on #8
I just tried my prototype code on the cpp target and discovered that Haxe `Int` is `Int64` on that platform, which is entirely reasonable of course, as Int should be the default size for the target platform. Exactly the same logic applies for the `int`, `uint`, and `uintptr` types in Go.

[2021-02-15 17:35] elliott5 opened #11 "Get the reflect tests working first, using Go's own reflect code"
@PXshadow wrote in an e-mail to @elliott5:
"...from what I understand now, I think it would be better to get the reflect tests working first and instead of handwriting the go's std reflect or go2hx needing it's own modified go repo, go2hx can transpile the package and then inject in the functions that use `//:go:noescape` for instance in tardisgo's modified go, you do this [here](https://github.co

[2021-02-15 18:48] elliott5 commented on #11
TinyGo have written their own [cut-down `reflect` package](https://github.com/tinygo-org/tinygo/tree/release/src/reflect).

[2021-02-15 19:14] PXshadow commented on #11
I was just reading this today, This is a great example to shoot for, I'll work on mimicking this and also pulling your reflect prototype at the same time.

[2021-02-15 20:00] PXshadow commented on #8
I think instead of creating indvidual classes for each basic type, we could instead try to follow TinyGo's method of "Interfaces are always represented as a {typecode, value} pair"

[2021-02-15 20:04] elliott5 commented on #11
I think it might be better to entirely implement `reflect` in Haxe.

If every go2hx Go `type` -> Haxe `Class` implemented (key parts of) the [`reflect.Value`](https://golang.org/pkg/reflect/#Value) methods interface, then the type information could be written as the AST is generated from the type definition, rather than being centralised as it is by the Go compiler.

Then, to go alongside this, ke

[2021-02-15 20:33] elliott5 opened #12 "Representation of Go pointers in go2hx"
All Haxe objects are of course pointers to the start of the contents of the object.

But how to represent pointers to elements within an object, or elements within elements?

I think a Go pointer type rendered in Haxe might contain two values:
1) (a pointer to) the base object
2) an array of indexes(into arrays) or field-names(for structures)

So a pointer to Go element `dingbat[4].foo.bar[26]` wo

[2021-02-15 20:37] elliott5 commented on #8
A {typecode, value} pair approach would certainly work, but would require a central registry of all the typecodes used in a particular compile. Since, if the project is successful, the Haxe generated by go2hx will be compiled into other people's Haxe programs, a central registry of typecodes will be difficult to maintain.

[2021-02-15 20:46] elliott5 commented on #12
Obviously, for targets like C++ that actually have pointers, one could just use pointers.

[2021-02-15 21:45] PXshadow opened #13 "Typedefs vs Classes"
A discussion wich typesystem should be used for now (of course in the future it'd be possible to have both options and use the non default one with a flag).

*Here are the features and drawbacks for the two diffrent types*

## Typedef
*  Closer to the Go style
* Function declerations are required to be outside of the datatype, keeping the same style as Go
*  Structual sub-typing allows the same im

[2021-02-15 21:51] elliott5 commented on #12
[GopherJS](https://github.com/gopherjs/gopherjs) must have a similar problem with pointers, but I have been unable to find how they model them yet - TODO.

[2021-02-15 21:54] PXshadow commented on #8
That is true, I don't however, see how it's possible to not have some kind of central registry with reflect (be that with a code/enum/or a switch for what type to class type to turn into). In refrence to this and to tie things together: https://github.com/PXshadow/go2hx/issues/11#issuecomment-779425358 . So the idea is to have each one of the generated Classes have fields for reflect to use? Would

[2021-02-15 22:33] elliott5 commented on #13
I did not realise that a `typedef` could have a function declaration on it, still less how to write one.

Typedef certainly seems to fit better with a direct translation of Go AST.

The only issue is preserving the type information correctly when going in/out of Haxe `Any`/`Dynamic` when a Go `interface{}`, but this could perhaps be done with a method on the `typedef` - needs to be tested, but I d

[2021-02-15 22:46] elliott5 commented on #8
The problem is that every unique Go type, even those that will be written by end-users in ten years time, need to have a unique typecode to index into the type information somewhere centrally.

So
[code]
will need its own unique typecode.

I imagine the TinyGo compiler allocates these unique typecodes for each complier run.

The only issue is finding a mechanism to link a Go type in an `interface{

[2021-02-15 23:54] PXshadow commented on #8
Oh I see the issue, yeah I need to run some experiments and see how non basic types work when switching to Any/Dynamic, You're right with needing a unique typecode for each user type being an issue, and I'll look for a solution that doesn't require that, and only needs the typecode for basic types.

[2021-02-16 07:14] elliott5 commented on #13
I see module-level `function` declarations that enable this are new in  [Haxe version 4.2](https://haxe.org/blog/module-level-fields/).

[2021-02-16 08:04] PXshadow opened #14 "Switch to Classes for typesystem"
~- [ ] multiple extension macro~ (not actually a feature of Golang)
- [x] new constructor
- [ ] typer implement infered interfaces
- [x] toString() for printing
- [x] add functions into type
- [x] copy function

[2021-02-16 08:11] PXshadow commented on #13
I spent a decent amount of time trying to rnd, to see what typesystem could work for all of the cases raised. unfortunatly typedefs don't work for isOfType, "is" operator, so I've written a macro to fill in the gaps to allow class structs to multi extend, and be the new typesystem used. new issue for it here: #14 .

Let me know if I'm missing anything, and yes modularity is extremly nice, current

[2021-02-18 07:51] elliott5 commented on #13
I've been thinking about how to make the generated Haxe files look like the source Go files, but keep the methods of a Go type in a single Haxe class.

The conclusion I have come to is to write all of the required classes into a single file with a well known name after all of the Go source files have been processed.

So in go2hx Haxe source files with same name as Go source files:
[code]

Then in

[2021-02-18 23:01] PXshadow commented on #13
This is a fantastic idea! It would be extremely nice to be able to also keep the file structure within each of the other files, but then use a system of type aliasing potentially and the "wellknown_filename.hx" static functions calling into the local files. I'm still not as experienced as I would like to be with this, so it will probably take some trial and error, but the idea is very solid and wi

[2021-02-19 10:40] #14 closed

[2021-02-20 06:56] PXshadow opened #15 "Error type assertion gives 2 options as optional"
I'm not quite sure how this works it seems to be equivlant to ``value,ok := map[get]`` where there is the value and then an optional, bool.

Here is the code example:

[code]

Need to figure out some method to handle this as there is only the option for one variable or multiple variables but they all must be captured with a destruct.

[2021-02-20 09:21] elliott5 commented on #15
Not sure it matters in this example, but in Go, to be an "error", a type must have a method `Error()` that returns `string`. So in the code above, `argError` is not a Go error type because it does not conform to the `Error` interface. See https://blog.golang.org/error-handling-and-go.

Returning multiple values is quite normal in Go, using their positions to name them. Indeed assignments can have

[2021-02-20 09:55] PXshadow commented on #15
Apologies, I updated the code snippet I left out the receiver function (the code comes from gobyexamples's Errors) . I currently have a system for anonymous variable names with positions at the end, and not yet for named variables. You bring up a good idea to create temporary variables at the start of the function expr if the return values are named, and then return them through an anonymous struc

[2021-02-22 07:53] PXshadow commented on #11
Got append working again, this time I spent time looking over how golang does deep equal, and gophersjs. The only places I really skipped corners was for the Pointer (value checking not an adress) and not using Reflect's Type and Value system witch I will add later.

Let me know if you spot anything @elliott5

https://gist.github.com/PXshadow/66fcfcce92dc15ac7fb354ff309e526a

[2021-02-22 16:10] elliott5 commented on #11
You have acknowledged the two key areas still to emulate for Go - pointers and reflection - so I'll not comment on those.

I think the use of Haxe `Any` for Go `interface{}` is good practice.

I like the `localTypeName_containingFunctionName` naming convention, and I think the code generated for `T_verifyStruct` is superb (and will feed well into the pointer and reflection work still to be done).

[2021-02-23 05:49] PXshadow commented on #11
Fantastic! I got the chance to read more about Go interfaces and Haxe's Any data type defiently seems more accurate.

This is great to hear, In the future I want to have a smarter naming system as currently there can still be name conflicts, but this should solve most cases.

This took some engineering however it seems to be working pretty well so I'll push on the results to you.

In the Go code,

[2021-02-23 06:34] elliott5 commented on #11
Thank you @PXshadow , having the original Go in the comments will make future generated code inspections much easier!
It may also make eventual go2hx end-users more confident to use the tool.

[2021-02-26 08:21] PXshadow commented on #12
I worked on pointers exclusively today, and I'm more confused at the end of the day now then the start. Simulation is really difficult, because it needs to allow field access and and array access on top of that it needs to signal that when pass by copy occurs it's actually a pass by refrence if it is type pointer. Then there is the issue of Go Arrays holding Pointers to structs and in the end alot

[2021-02-26 09:13] elliott5 commented on #12
I'll write a prototype of how it might work in my mind, and post it here as a gist.

[2021-02-26 13:07] elliott5 commented on #12
The outlined solution in this [gist](https://gist.github.com/elliott5/37dbc5e8f0cb1bf5054780460d63128b) would require many Haxe `interface` and `class` types to be autogenerated... but seems to work so far without any (expensive) reflection.

I'm not sure I've explained everything properly, but have to rush off now, so let me know if more explanation is required!

[2021-02-26 14:53] elliott5 commented on #12
So as per the gist above:
- Each Go `type` (built-in or user-defined) would require a pointer type to it, modelled as a Haxe `interface` (see `IntPtrIface`, `StringPtrIface `, `UserPtrIface`).
- For a Go `struct`, each field requires it's own Haxe pointer class implementing one of the interfaces above.
- Pointers to nested objects (Go types) can be composed together by using the `interface` descri

[2021-02-26 20:28] elliott5 commented on #12
If you'd prefer not to generate loads of extra Haxe interfaces and classes, it is possible to build on the current reflect-based [Pointer.hx](https://github.com/PXshadow/go2hx/blob/master/stdgo/Pointer.hx) code.

The approach will not be type-safe, so casts to the required types will be needed after values are retrieved from `Pointer.fieldRead(x)` (`Reflect.field(x,y)` returns `Dynamic`) and befor

[2021-02-26 20:55] PXshadow commented on #12
Yeah, I'd prefer not to build on the reflect code to be honest, because it's slower and there's still more headaches with the Pointer system for it that still requires changes.

I think I might have a decent compromise, so the issue with my first idea of having ptr._value_ always be used for every type of access as described above is I would need the typer to know, every variable type when typing,

[2021-02-27 08:06] elliott5 commented on #12
Thank you @PXshadow!

An `abstract` cannot implement an `interface`, but it can convert to one by casting.

The following code works in my small-scale prototyping:
[code]

Then to use the generic code above with the `User` typedef from the gist above:
[code]

However... it is important to realise that in the code snippet above, the `User` data in `dPtr` is a copy of `dingbat` not a reference to it

[2021-02-27 16:36] elliott5 commented on #12
I've been trying to work out how to use `@:genericBuild` to autogenerate the pointer-to-field classes for much of the day ... but my knowledge if Haxe macros is not up to the task!

The idea is simple enough - cycle through the fields of each Haxe version of a Go `struct` and generate a pointer class for each...
[code]

Still generating the same classes behind the scenes, but with less code visibl

[2021-02-28 10:45] PXshadow commented on #12
Oh no I'm sorry for getting you to spend much of your day on macro madness, the idea is possible with an auto build macro. I think however there is actually no need to generate a pointer class for each, as the forward metadata on a T type wrapped macro is able have the same functionality as the unwrapped version, and be used as identification when pass by copy occurs. Also all non basic types in H

[2021-02-28 12:35] elliott5 opened #16 "Simple pointer example not working"
Go2hx generated code:
[code]
Gives Haxe compiler errors:
[code]

[2021-02-28 12:36] elliott5 commented on #12
You have a better understanding of Haxe than me, so I'll wait and see how things develop.

I tried a very simple example, but could not get it to work see #16.

[2021-02-28 17:02] elliott5 commented on #12
Yes, Go double pointers (and somewhere no-doubt in a dark corner of the ecosystem even triple-pointers) have their place, and will be difficult to replicate without having pointers within pointers.

Go Slices (and arguably Maps) are just over-evolved pointers as you say... in Haxe terms they are likely to be classes, and any Haxe class is an `interface{}` in Go terms, having both a pointer to the

[2021-02-28 17:50] elliott5 commented on #12
Just to say I really like the idea of the `Pointer.PointerData` class, with two soft functions within it for get/set.

The functions could certainly be added at the macro phase of compile time as the `Go.pointer` macro seems to do, not sure if they could be added at runtime.

What I don't understand is how those accessor functions see the underlying object or pointer that they should be acting on.

[2021-03-01 07:04] #16 closed

[2021-03-01 07:24] PXshadow opened #17 "BTree library working"
Repo: https://github.com/tidwall/btree
Issue refrence: #1

- [ ] double pointers.
- [ ] goto statements and labels properly functioning.
- [ ] no field name conflicts.
- [ ] private access allowed within a file module.
- [ ] Go division.
- [ ] pass through mutex.
- [ ] defer stack system.
- [ ] reciever proper initialization and usage with this, and copy system if not pointer.

[2021-03-01 10:20] PXshadow commented on #12
Strange I thought I wrote back a comment earlier, either way.

I have no comprehension of where double/triple pointers would be useful to solve a programming problem, I know it's possible to implement with an extension to the pointer system, figuring the case though should help with building test examples though.

Yes this is exactly the case, a pointer is an abstract closure wrapper system for th

[2021-03-01 13:11] elliott5 commented on #12
In the few tests I've done so far, the reflection pointer system works well. The approach has the big advantage of keeping all the generated code in the place where it is used in the AST.

The naming and visibility of Go struct fields is not quite sorted out yet, which has limited my testing, but I'm sure #17 will resolve this in time.

As for double pointers, they are certainly used in the go sta

[2021-03-02 06:45] elliott5 opened #18 "Lix install errors"
Lix install errors after commit https://github.com/PXshadow/go2hx/commit/4ad9ecd422f619d6eb98e677fcb235d715a977b2
[code]

[2021-03-02 06:51] elliott5 opened #19 "Runtime error after array has incorrect length of 0"
Error Output
[code]
go2hx
[code]
In good news, if I change the array make line length from [0] to [6] the code executes correctly!

[2021-03-02 06:56] elliott5 commented on #18
Next commit:
[code]

[2021-03-02 10:16] PXshadow commented on #17
The library is now able to be fully generated with no errors, unfourtantely when running the example the Haxe code gets caught in an infinite loop here: https://github.com/tidwall/btree/blob/master/btree.go#L85-L92

[2021-03-02 10:21] PXshadow commented on #18
Sorry about this, it seems those commits where when I was still changing out the package scope system, I tried it, the latest commit seems to be working now, if you could try latest and let me know how it goes that would be great.

[2021-03-02 10:24] PXshadow commented on #15
This seems to be working fine for the latest few test cases I've stumbled upon this, and future new cases can be setup accordingly.

[2021-03-02 10:24] #15 closed

[2021-03-02 10:26] PXshadow commented on #13
Last part of Class system needed is the main class decleration for the entire package. "Then in "wellknown_filename.hx". written at end of processing all Go source in a directory, containing a class declaration for each Go type" - @elliott5

[2021-03-02 10:56] elliott5 commented on #18
LGTM

[2021-03-02 10:56] #18 closed

[2021-03-02 11:11] elliott5 commented on #17
Two issues to look at:

1) is the `int16` calculation on line 86, particularly the division by 2 correct?
[code]
Does changing the generated Haxe by hand to a right-shift-by-1 make it work?

2) does the soft `less` function always return a Haxe `Bool`, what happens if, for example, `null` is returned?
Suggest changing the generated Haxe to test the type returned is a `Bool`.

[2021-03-02 11:14] elliott5 commented on #17
The third issues could be mis-matched types in the passed-in `less` function itself, so that it can never return true.

[2021-03-02 18:18] elliott5 commented on #17
For the code you highlighted as looping, the `else` arm of the `if` statement is not being generated.
Go:
[code]
Generated Haxe:
[code]

[2021-03-03 05:45] elliott5 commented on #17
I think the issue is that the Go `else` statement is not being picked up from the `export.json` because the field name in the Typedef is `elseStmt` rather than `else` at  https://github.com/PXshadow/go2hx/blob/master/src/Ast.hx#L285.

[2021-03-03 07:25] elliott5 commented on #17
Something like adding two extra lines to the start of the function maybe:
[code]

[2021-03-03 08:04] PXshadow commented on #17
@elliott5 Great find thank you very much! Else statements are generating excellently now directly because of your effort, and the issue of the infinite loop is no longer the case.... the new error now is ``stdgo/Slice.hx:130: characters 9-23 : Uncaught exception slice out of bounds index: 4 length: 1 trace: [{user:3 Steve}]``
[code]

Not sure why the length is so widely off from the index calling,

[2021-03-03 08:15] PXshadow commented on #19
@elliott5  Can you try again with the latest version this is the output I'm getting, it seems to be working now.

[code]

[2021-03-03 08:53] elliott5 commented on #19
Yes, it is fixed. Sorry, should have closed the issue myself.

[2021-03-03 08:53] #19 closed

[2021-03-03 09:05] elliott5 commented on #17
I think the `boundscheck()` code at `stdgo/Slice.hx:121` is wrong.
[code]
should be
[code]
...because `i` is the index into the underlying array (`pos`, the starting offset into the slice, has already been added), and the array indexes run from 0 to length-1.

[2021-03-03 09:33] elliott5 opened #20 "GoArray bounds check"
GoArray bounds check at
https://github.com/PXshadow/go2hx/blob/master/stdgo/GoArray.hx#L45
allows an index of an array to be = the length of the array, which is outside the underlying array.
test for error should be `>=`
[code]

[2021-03-03 09:40] PXshadow commented on #20
@elliott5  good point, I've disabled bounds checking temporarily, there seems to be some flaw internally with knowing the correct length, I tested it with append.go test and it is failing the test by a massive out of bounds of the index compared to the length, I also refrenced bounds checking error for the BTree library at #17

Let's consolidate discussion for correct length and bounds checking he

[2021-03-03 10:42] PXshadow opened #21 "KeyValueExpr and BasicLiterals can be intermixed in a CompositeLit"
Currently KeyValueExprs are supported using the @:structInit system and BasicLiterals are supported by using the new constructor and adding into it by order, however there is no system in place to be able to intermix the two (as I had no idea it was possible) and as such a new system needs to be built to allow intermixing. Best option seems to be a macro, since this case is rare almost all composi

[2021-03-03 12:55] elliott5 commented on #20
I can confirm from testing that the GoArray bounds testing should be as above.

For slices, it is more complex because of sub-slice handling, the `pos` value gives the offset from the start of the underlying array, while the `length` value stores the number of valid entries in the underlying array after `pos`.
But actually the code required turns out to be exactly the same, as it all resolves to b

[2021-03-03 20:58] PXshadow commented on #21
"If any element has a key, every element must have a key." - https://golang.org/ref/spec#Composite_literals

[2021-03-04 01:07] PXshadow commented on #21
I've traced it back to initialize.go test, I'm not sure how this is working, since the from what I understand the spec says this is not possible. https://github.com/golang/go/blob/master/test/initialize.go#L35

[2021-03-04 01:32] PXshadow commented on #4
This is all completed except the github action part, going to make a new issue with specfic issues with various tests and todo list of passing tests, in order have more visible progress reports and potential help with figuring out issues.

[2021-03-04 01:32] #4 closed

[2021-03-04 02:02] PXshadow commented on #20
Thank you for the investigation and testing, I still don't know the underlying reasoning why it is failing, I think I'll just build a simple demo with some of the features and slowly debug through it and see if I can find the culprit.

[2021-03-04 06:51] elliott5 commented on #20
My test:
[code]

[2021-03-04 07:04] elliott5 commented on #21
Wow, I never knew that was valid Go!

But the format does make sense, because non-initialised variables always contain 0.

It is described further down the text at https://golang.org/ref/spec#Composite_literals ...
[code]

[2021-03-04 10:39] PXshadow commented on #21
Dang sorry for missing that @elliott5 this is very useful thank you! Its a cool system it makes complete sense now I'll work on implementing it and getting it closed soon.

[2021-03-04 23:06] PXshadow opened #22 "Go Tests"
# Overview:
- If a test runs beyond the timeout threshold (currently 10 seconds) a single line error is attempted to be shown, with the ending (timed out)

- The tests are chosen from the go repo if they have the meta data at the top equaling: ``run`` or ``runoutput``.

- This current test suite is focused on the [language specification](https://golang.org/ref/spec) and is good quality assurance f

[2021-03-05 07:05] elliott5 commented on #20
Since both the array and slice `boundsCheck(i:Int)` are inline functions, every time they are used, potentially every time and array or slice element is accessed in user code, the two `throw` messages would be included it the program code too, inflating its size.

Having the throw code in a single subroutine would probably generate less code:
[code]

[2021-03-05 20:34] PXshadow commented on #20
Good point, the entire bounds check itsself can just be inline, I think only having the throw be inline still inflates the output size because of the if statement, I like the consolidating of the if statements with a unified error message though, I will change it out for this today :)

[2021-03-06 17:49] elliott5 opened #23 "Pointers into a slice need to point to the underlying array"
Changing the slice location changes previous pointers made into that slice.
[code]
Expected output
[code]
Actual output
[code]

[2021-03-08 03:05] #23 closed

[2021-03-08 20:47] PXshadow commented on #20
Its It's been consolidated, working now on making sure it doesn't throw for working go examples within bounds range.

[2021-03-08 20:50] PXshadow commented on #8
Current idea for implementation is abstract types can use a typeCode or typeName function, I think typeName makes more sense for readability, and the rest can use the is Operator.

[2021-03-08 22:47] elliott5 commented on #8
Determining the type of some datatype passed as an `interface{}` is central to how Go works.

I suggest resolving type identity by using fully-qualified (non-aliased) typeNames. This is slower than comparing typeCodes, but it does not require a central registry of typeCodes, important for providing go2hx generated code as Haxe libraries.

Clearly for go2hx generated Haxe classes, providing typeNam

[2021-03-09 08:50] PXshadow commented on #8
Oh yes I see your point now.

So meaning you directly pull from the Go ident, and have for instance "*int" as an end check result?

I think it should because all abstract classes will be basicTypes and therefore will use the real Pointer abstract, the underlying type for it is PointerData witch can be "is" checked to see if it's a pointer and from there can easily access the underlying type with a

[2021-03-09 10:02] elliott5 commented on #8
I agree, "it would be extremely elegant [if] the end generation could actually just be a switch statement of a typeName checking strings" of Go type names.

if a pointer .get() call can return a value that is an abstract class, that would be very helpful - but I don't have time to check.

[2021-03-09 13:48] elliott5 commented on #8
Certainly extending your example to first point at, then recover, the abstract type does not work.
[code]
Haxe abstract types only exist at compile-time, not at run-time.

[2021-03-10 08:17] PXshadow commented on #8
I wrote out a bunch of methods to build the typeName system, one thing I have no idea how to do is the underlying type of a Slice and Go Array to turn this ``Slice<Int>`` into ``[]int`` I added the interface type to all generated classes based on your reccomendation and it does help, but I'm not sure how to pull the typeName out of it. I could potentially generate somehow a generic for all combina

[2021-03-10 09:00] PXshadow commented on #8
Slight update I think grabbing the underlying type is doable, it will take an additional system to parse and correctly turn into, but ``Type.getClassName`` as seen here with generic can get the underlying type name as a string. https://try.haxe.org/#90BcdeAe

[2021-03-10 18:06] elliott5 commented on #8
Obviously, I'm also considering how to implement Go's `reflect` package in the context of go2hx.
Both Go and TinyGo have a central data-structure containing all the type information for a particular executable (which TinyGo indexes with a bit-encoded type-code held as a `uintptr` and Go indexes with a pointer).
go2hx can't have a central registry of types, because the code is not intended to run a

[2021-03-10 18:22] PXshadow commented on #8
@elliott5 there is no real equivlant, the closest would be "is" if chaining, Haxe programs seem to hardly use reflect, generics, macros, and some compiler metadata seems to cover for it.

[2021-03-10 20:31] elliott5 commented on #8
Yes, the Haxe reflection regime is not as well developed as that for Go. But I suspect go2hx is more likely to succeed by building on what Haxe already has. I'll do more research to see where the gaps are, if any.

[2021-03-11 10:24] elliott5 commented on #8
It must be possible to call a Haxe function from Go code @PXshadow .
How do you envisage that happening?

[2021-03-11 11:15] elliott5 commented on #8
In GopherJS they have a specific `js` pseudo-Go module, see https://pkg.go.dev/github.com/gopherjs/gopherjs/js

TardisGo also had a similar `hx` pseudo-Go module, see https://github.com/tardisgo/tardisgo/blob/e0dd9a7e46b597cdc4d310c8a677c2da7444008e/haxe/hx/hx.go

So go2hx need a similar pseudo-Go module. This will allow much of the `reflect` (and maybe other low-level) modules to be written in Go

[2021-03-12 05:53] elliott5 opened #24 "Access to native Haxe from go2hx Go"
In GopherJS they have a specific `js` pseudo-Go module, see https://pkg.go.dev/github.com/gopherjs/gopherjs/js

TardisGo also had a similar `hx` pseudo-Go module, see https://github.com/tardisgo/tardisgo/blob/e0dd9a7e46b597cdc4d310c8a677c2da7444008e/haxe/hx/hx.go

So go2hx needs a similar pseudo-Go module. This will allow much of the `reflect` (and maybe other low-level) modules to be written in G

[2021-03-12 07:52] elliott5 commented on #8
I'm currently considering if Go `reflect.Type` could be modelled as an Haxe `enum` built around Go `reflect.Kind` similar in conception to the TinyGo `typecode` idea.

[2021-03-12 10:18] PXshadow commented on #8
I looked at your hx.go I like the idea of gohaxelib approach you wrote about wanting to do in the future for Tardisgo. When the go2hx library gets imported there could be a flag to enable Go externs so when the Haxe code gets compiled, a global macro could run and generate Go extern code with the Haxe types. I just tested it right now and it can be grabbed that way as long as dead code elimination

[2021-03-12 12:50] elliott5 opened #25 "iota and methods on non-struct named types - example reflect.Kind"
[code]
Does not compile on go2hx.
Both because `iota` is not implemented; and
because Go methods on non-struct named types are not implemented properly (no link between code and type).

[2021-03-12 12:57] elliott5 commented on #25
All named Go types will need a Haxe Class to put their methods in.

[2021-03-12 17:01] elliott5 opened #26 "Small integer types not constrained to maximum size allowed after arithmetic"
[code]

[2021-03-12 18:51] elliott5 commented on #8
I've raised #25 to cover the `iota` issue, I hope the `@:from` Haxe magic you speak of will help.

The idea of allowing Go externs to be published in a way that makes the go2hx'd Go library modules more usable is very attractive.

Yes, having Go small-integer types as abstracts over `Int` has the great advantage that calls from regular Haxe code can just use the `Int` type (`UInt` is only an actua

[2021-03-12 19:44] elliott5 commented on #8
A further complication for Go structs is that each field can have a string `structTag` visible via reflection.
I don't think go2hx currently has a way to capture these strings, which form part of the type information.

See the example here https://golang.org/pkg/reflect/#StructTag .

[2021-03-13 07:18] PXshadow commented on #25
I did work previously to support the IOTA system, I'm currently going to opt for the simplier system for now, that being just having a system of constant variables like how Go does it, The issue with an enum abstract is handling the new scoping diffrences in the Go code versus the Haxe code. On that subject as well I'm a little bit stuck on how to deal with Go allowing types to be overrided by var

[2021-03-13 07:19] PXshadow commented on #26
So in order to restrict the number types, a clamp function as you've discussed earlier would be the best way to go @elliott5 ?

[2021-03-13 07:23] PXshadow commented on #8
Yeah good point, I'm able to pull the tags from the AST but yeah it needs to be possible to store it for reflection package use, perhaps a hidden added variable field to a structure and then Go can attempt to access using a hasField and then getField the hidden variable (hidden being multiple underscores and hard to access or type normally)

[2021-03-13 07:31] PXshadow commented on #8
I think this is only problomatic if it's possible for Go to be able to generate typed numbers without being typed, witch I really hope is not possible because my brain might explode at that point 😅 . As for the pointer, the PointerWrapper PointerType can have the __is__pointer boolean set for structs and standard Pointers for basicTypes can detect that it's a pointer because the underlying abstrac

[2021-03-13 08:05] elliott5 commented on #26
Yes so for `a + b` above the code should be `clampUInt8(a+b)` where
[code]
Clamp functions for `uint16` and `uint32` just have bigger masks `0xffff` and `0xffffffff`.

Clamp functions for signed integers are more complicated as they require their sign extended.

The "clamp" functions I wrote for TardisGo, including platform-specific code, are here:  https://github.com/tardisgo/tardisgo/blob/e0dd9a

[2021-03-13 08:17] elliott5 commented on #26
Note that it is necessary to "clamp" after every binary operation, not on assignment. This to prevent unexpected side effects.

[2021-03-13 14:28] elliott5 commented on #25
I don't understand the problem you describe I'm afraid, could you give me an example?

I'd make two points though ...
- first, all go2hx input must be valid Go, so the generated Haxe does not need to worry about Go code misbehaving; and
- second, the iota logic can be quite complex - so an alternative would be to write a Go program that compiled the iota code and output the required Haxe, run that

[2021-03-13 15:19] elliott5 commented on #25
Just to prove how complex the `iota` logic can be, and why it would be easier to let the Go compiler do it for you see https://medium.com/swlh/iota-create-effective-constants-in-golang-b399f94aac31 .

[2021-03-13 22:01] PXshadow commented on #25
example:
[code]

being able to redefine types for Go and also turn type names into variables. When I attempt to try something similar in Haxe I get this https://try.haxe.org/#0D448B57 ``error: Type name String is redefined from module String``. I think the solution will be to increase the awareness of the compiler when it comes to block scoping and being able to redefine types as needed within a l

[2021-03-14 06:45] elliott5 commented on #25
You're welcome @PXshadow, good luck with the `iota` code, however you approach it.

As for your Go example, there are two issues for me - using a reserved word as an identifier, and block scoping a type.

I'm disappointed that Go allows built-in types to be overloaded in this way, as it makes code less readable, which seems against the point of Go in the first place. So my advice is to throw a go2

[2021-03-14 08:02] elliott5 commented on #8
I think the idea of using "hidden" fields in Haxe anonymous structures or classes (static fields) to hold Go type information is the right way to go.

It is important that regular Haxe can use the go2hx code as easily as possible, so the go2hx type system needs to build on the Haxe system. Regular Haxe anonymous structures should be treated as Go `struct` types, Haxe classes as Go named types on a

[2021-03-14 16:14] elliott5 commented on #8
I see that the `AnyInterface` has a field `_typeName_` holding a Go type string.

For fields in anonymous structures or classes that don't directly map to Go types should there be a hidden field `fieldName_typeName_`:
[code]

The Go type for the struct could then be constructed by inspecting the fields of the struct.

[2021-03-14 17:55] elliott5 commented on #8
A type-switch could certainly be created using the `_typeName_` values, composed as Go textual descriptions of the types concerned.

Some issues would be:
- ensuring that the formatting of the Go type text was always consistent
- maybe needing to use the fully qualified paths to Go named types (see below)
- as mentioned above, string comparison is not enough for Go's ["Duck Typing"](https://medium

[2021-03-15 07:31] elliott5 opened #27 "Pointer comparison is wrong"
[code]

[2021-03-15 07:43] elliott5 commented on #12
#27 shows that a pointer, for comparison purposes, must have a unique address of the item being pointed at, in addition to get/set operations of course. In the first post of this discussion, I set out how this might be achieved.

[2021-03-15 08:42] #27 closed

[2021-03-15 08:48] elliott5 commented on #12
Also, to aid reflection, it would be helpful if the hx2go pointer also contained the Go type of the data being referenced.

[2021-03-15 08:55] PXshadow commented on #12
Sounds good, the system I used ``haxe.macro.Context.signature`` to achieve a unique address, I've never used before and is quite undocumented so there may be faults that I'm unaware of at the moment using it. The same error for #27 can be achieved with struct type pointers as it will use a pointer wrapper, and a signature system is not implemented for it as I think another hidden variable will nee

[2021-03-15 09:00] PXshadow commented on #12
I agree, implementation is a little tricky for pointers though on a side note as it's a 2 system one policy, so the standard Pointer type that gets used for basicTypes is quite unrestricted in implementation, where as the PointerWrapper is very restricted as it is only a wrapper and all held data needs to be held in all structure types etc.  I think some more @:to black abstract magic can do the t

[2021-03-15 09:29] elliott5 commented on #12
The use of `haxe.macro.Context.signature` to provide the address is inspired @PXshadow, even if I don't completely understand it, and so cannot judge if it will always work. But you are clearly working through associated issues ... alongside thinking about how to use yet more Haxe voodoo to also capture the referenced type. Good work!

I don't think it matters what the unique address system is, al

[2021-03-15 09:44] PXshadow commented on #12
Thanks! Yeah I've defiently learned enough Haxe voodoo for a few lifetimes, Good point on just using a Pointer for targets that have them, I should give the c++ target some time and implement things like Pointers natively for that target, still detirmined to get to the finish line for pointer virtulization before that and soon. The last things for Pointers in general If I'm correct is type switch

[2021-03-15 09:51] PXshadow commented on #25
Solid idea I will implement it.

Block scoping a type is a more common problem. The obvious way to do it is to change the name of the type/Typedef to something like userTypeName__userFuncName_blockNumber then, during the generation of that block, map the user's type name to the generated one.

Amazing idea as well, I'll do this as well, these two ideas and the scoping system implemented, the last

[2021-03-15 11:34] elliott5 opened #28 "pointer, indexing from another pointer, not working correctly"
[code]

[2021-03-15 17:01] elliott5 commented on #12
I've written a simple (and not optimised) pointer simulation class `EPointer` as per my first post in this thread.

You can see it at: https://try.haxe.org/#E8d1AaaF

[2021-03-15 20:04] elliott5 commented on #12
The HashLink target of the pointer simulation above fails at runtime on the index access, complaining (not unreasonably) about a casting error.

[2021-03-16 10:50] elliott5 commented on #28
It looks like you are making great progress on this @PXshadow .

Another minor problem, if the names are changed to
[code]
The `p2` and `P2()` names clash, because the name of the function has been changed to `p2()`.

This using build `251fddc1fba48ad6d4cada8929de1a0d3daa37cd`.

[2021-03-17 05:28] PXshadow commented on #28
Yeah a seperate issue would be great, I've defiently struggled a decent amount figuring out a good system for name clashing and how to adress depending on the scope and type. I think it will pay off in the long run of turning idents to the Haxe style. The pointers I still have a few more cases and types I need to go through and make sure it can properly detect equivlant values even with tricky ali

[2021-03-17 06:47] PXshadow commented on #12
It's an interesting implementation, The offset system with the enum is much cleaner then I could've imagined with reflect, and with no abstracts, I'm very impressed with the implementation without using any magic tricks just solid generation. In the future I'd like to use the offset system for arrays and fields for adresses.

[2021-03-17 09:34] elliott5 opened #29 "Public Go API names in hx2go need to be standard, so that existing Go documentation can be used"
Altering Go naming really should be a last resort, both because:
- the Go API documentation is superb and hx2go programmers should be able to use it directly; and because
- the Go code already has unique names, so changing those names stands the chance of names clashing (as in #28).

For example, look at a `.Next()` method in the Go documentation for accessing `.tar` files:
https://golang.org/pkg/

[2021-03-17 19:51] PXshadow commented on #29
@elliott5 okay a standard methodology could be achieved then, the issue with keeping uppercase variables and functions is it messes up the syntax highlighting for editors, perhaps if everylowercase instance would result in an undercase and then the name and then uppercase names would just become lowercase. Also type names have to become uppercase regsrdless, so name changing no matter what is nece

[2021-03-17 21:01] elliott5 commented on #29
Yes, I think `Next -> next` for the Go public API naming and `next -> _next` for private variables will work... but there will be a lot of _leading _underscores in the code!

Go public type names will always have a Capital letter 1st anyway, for private names you could always preface them with `T_`.

[2021-03-20 01:05] PXshadow commented on #26
Armimm.go test is the first milestone for this testing wise, most number types still need the operator overloads for binary operators on most targets, I have written up the clamp functions for each of the numbers, I'm not making sure implicit casting is working properly across the types and also changing out the standard division functionality to the Go style of always staying an integer.

[2021-03-20 06:39] elliott5 commented on #26
I agree that `armimm.go` is a good milestone. I tried to compile it after a `lix install` and got lots of errors, most related to Go constant type conversion issues.

Go constants are not typed until they are used, other than being `bool`, `integer`, `float` or `string`. Therefore modelling `integer` constants in Haxe will require some extra work to accomplish.

My suggestion would be to create a

[2021-03-20 09:28] PXshadow commented on #26
Ah I see! Well that's unfortunate as it could make the code signifilicantly slower, I should run some test cases to understand how Go does casting more, for instance if a number is an int32 but is added to, to become over the range, would a Go Int constant just be an int64 in the end where as a set Int32 would become 0?

That sounds good, I think the GoInt64 could just be used as long as sneaky im

[2021-03-20 09:31] PXshadow commented on #17
Get to 30ish passed tests, then I'll check progress here and see if things are being fixed indirectly.

[2021-03-20 15:57] elliott5 commented on #26
I do not think it would be wise to use Haxe `GoInt64` (modelling Go `int64`) to hold Go integer constants.

Go integer constants *should always* auto-convert to the actual type required when seen in the code (including to `float64/float32`).

By contrast all Go types (including `int64`) *should never* auto-convert. Go always requires an explicit cast between types. Making types explicit was one of

[2021-03-21 07:16] PXshadow commented on #26
Yeah you're right. Thank you for the advice I will follow it, also I found this https://golang.org/src/builtin/builtin.go?s=3808:3828#L105 perhaps it could be named IntegerType. I also may be really shooting myself in the foot the more I think about the auto conversion you mentioned with the casting system, I've written now quite a few @:from and @:to casts in order for the Go assert to actually n

[2021-03-21 09:25] elliott5 commented on #26
Using the same name as is used in the Go documentation will always make life easier long-term, so `IntegerType` is a good choice here.

Since the `(expr: type)` Haxe notation is a compile-time function that recognises abstracts, it sounds ideal for this purpose.

So Go like `x := uint8(y)` might generate Haxe like `var x = (y:UInt8)`, with the compiler calling the appropriate `@:to` function (in t

[2021-03-23 10:46] PXshadow commented on #26
Decent work on this front, I also have a very expirimental Complex128 working for small numbers but I think it's broken perhaps for larger number not sure, esentially I just took the exact same approach haxe did for the Int64 and just did it with Int128 using two Int64s, I'm also pretty happy with the IntegerType system I currently have it as 3 diffrent abstracts, one that holds an int32 size, sec

[2021-03-23 11:43] elliott5 commented on #26
It sounds like you are making great progress @PXshadow !

I'll take a look at the `IntegerType` code later today, to see if there is anything I can usefully give you feedback on.

However, I'm very concerned that you have mis-understood what Go `complex64/complex128` numbers are.
A `complex64` value holds two `float32` values; a `complex128` value holds two `float64` values.
The two float values r

[2021-03-23 17:31] elliott5 commented on #26
Looking at the `IntegerTypeInt` code I was very surprised to see all of the binary operators, as I would expect these to be in the abstracts for the specific integer types (like `int8`) themselves.

I was expecting the code more like https://try.haxe.org/#c77D2576 , with only `@:to` functions in `IntegerTypeInt`. The Haxe compiler will work out which conversion to do in order to make the types cor

[2021-03-23 19:58] elliott5 commented on #26
I'm afraid I still think it would be better to for `IntegerType` to be based on Haxe `Int64` while you are getting it working, then maybe optimise to `Int` later.
In particular this is because two `Int` constants added or multiplied together could overflow into an `Int64`.
But also because you will save some time while getting it working.

[2021-03-23 20:19] PXshadow commented on #26
Oh shoot, thank you for telling me! I will change the complex numbers straight away sorry about that, I somehow didn't comprehend that complex numbers are floats. For the complex64 can it just be shortcuted and use a single float64? or does the Go code allow the refrencing of the real and imaginary parts?

Yeah you're right your example seems to work very well, I wasn't able to get it working at t

[2021-03-23 21:15] elliott5 commented on #26
I'm afraid a `complex64` cannot be put inside a `float64`, it requires two `float32` variables to represent the real & imaginary parts of a complex number.

[2021-03-23 21:38] elliott5 commented on #26
Complex code from TardisGo above using a generic type would allow for both very easily, something like:
[code]

I've not tested the above code, so the Haxe may be incorrect!

[2021-03-24 19:36] elliott5 opened #30 "abstract GoUInt64 does not contain operation overloads for "==" and "!=""
I looked into why armimm 64 ints are not working and concluded the problem was with this code:
https://github.com/PXshadow/go2hx/blob/18de82f8b38a879ac7f8c0daed993a04aa5c7fd0/stdgo/StdGoTypes.hx#L1669

Because there are not `@:op(a == b)` and `@:op(a != b)` in the abstract, on the `hl` and `neko` platforms the generated code is comparing two `haxe.Int64` classes together rather than calling `haxe.

[2021-03-25 04:20] #30 closed

[2021-03-25 09:48] elliott5 opened #31 "Go divide by zero behaviour"
In Go, all integers panic when divided by zero. This is a different behaviour from Haxe.

For floats & complexes, NaN should be returned. This means the code for complex number division in TardisGo was wrong (and so is wrong now in go2hx).

Go has a specific test for divide-by-zero behaviour at https://golang.org/test/zerodivide.go

[2021-03-26 08:40] PXshadow commented on #31
I'm currently using the same method tinygo is of returning null for recover, a decent porition of the test uses recover however, so it seems an implementation of recover is needed to pass this test.

[2021-03-27 07:02] elliott5 commented on #31
Prototype implementation of recover():
- I took the example in the go blog https://blog.golang.org/defer-panic-and-recover.
- Used go2hx to translate it into Haxe.
- Then amended the generated Haxe to execute properly using Haxe `try{}catch(e){}`, with `NOTE` comments to show what is changed.
- My prototype code is at: https://gist.github.com/elliott5/0118b29073180ddf327c4d7166c21ec7

[2021-03-27 17:46] elliott5 opened #32 "GopherJS handling of goto"
I see from the part-generated code for `goto` in go2hx that you are thinking of using functions, that was my first thought too.

As a cross-check, I thought it would be helpful to see how GopherJS did it...

I took the example of a Go `goto` program from https://www.tutorialspoint.com/go/go_goto_statement.htm

Set up GopherJS on a virtual machine (it now requires an old version of Go), and inspect

[2021-03-27 19:02] PXshadow commented on #32
This is incredibly helpful thank you @elliott5 ! Yes I'd love to see other examples like this. Its extremly useful for implementation seing equivalencies to compare and contrast.

[2021-03-27 19:08] PXshadow commented on #31
You are a genius well done, the exception handling is suberp my only question is, do you have a method to calculate where the try block should start and end? Reading the code it can be figured out but if there is some pattern for the compiler to use when typing.

[2021-03-27 20:03] elliott5 commented on #31
Because the only place that `recover()` can be called and get a non-nil result is in a `defer` function, I think the scope of the `try` block has to be the body of the function.

Since Go requires that all the `defer` functions be run where there is a panic, where there are `defer` functions a `try{}catch{}` will also be required - as per the prototype function `g()` where the `defer` functions ru

[2021-03-27 20:41] elliott5 commented on #32
GopherJS only puts the code inside a `switch/case` statement when necessary:
[code]
generates
[code]

[2021-03-28 07:01] PXshadow commented on #31
Defer calls for functions that use rest arguments is currently blocked by a Haxe issue as far as I'm aware https://github.com/HaxeFoundation/haxe/issues/10196 , I can't think of any decent workaround as the arguments for defer by the go spec need to be declared where the defer keyword is and then the function ran at the bottom, therefore it is runtime functionality.

[2021-03-28 07:08] PXshadow commented on #32
Great, I like the approach of the switch case inside an infinite white statement it allows less temporary variables and seems to be a more understandable controlflow pattern. I'll implement it and have it where it only gets generated if necessary.

[2021-03-28 07:14] PXshadow commented on #26
I've used this code and it seems to be working, I still have a lot to implement and figure out for creating the Complex numbers with the builtin functions as well as how the type assertion from a float or int to a complex works. Must numbers seems to have most of the spec done. One of the main ones that still needs alot of work will be UInt64s and potentially UInt32 if I don't want to represent th

[2021-03-28 11:15] elliott5 commented on #26
Uint and Int addition/subtraction arithmetic is exactly the same, the only way they differ is in how you interpret the resulting bit-pattern. But some operations need to be different for Uint, including:
- less/greater than comparisons, (not)/equal are the same
- `*`, `/`, `%`
- right shift operations (always insert 0)
- encoding in-to and out-of string representation (as you suggest)

The TardisG

[2021-03-28 11:27] elliott5 commented on #26
And for `uint64` in TardisGo:
- `/` https://github.com/tardisgo/tardisgo/blob/master/haxe/haxeRuntime.go#L2096
- `%` https://github.com/tardisgo/tardisgo/blob/master/haxe/haxeRuntime.go#L2129
- comparison `Haxe.Int64.ucompare()`

[2021-03-28 11:57] elliott5 commented on #31
Workaround prototype at https://try.haxe.org/#7E7EB22e

[2021-03-28 11:58] elliott5 commented on #32
The presence of a Go label in the code should trigger this alternate way of managing the control flow.

[2021-03-28 14:36] elliott5 opened #33 "Comments in Go source mess up Go source comment in Haxe"
Example from https://www.tutorialspoint.com/go/go_continue_statement.htm
[code]
Is transpiled by go2hx into incorrectly commented Haxe, causing compilation failure.
[code]

[2021-03-28 14:57] elliott5 commented on #32
The use of `fallthrough` in a `switch/case` statement should also trigger the alternate control flow, as Haxe does not allow this natively.

[2021-03-28 15:05] elliott5 commented on #32
Fun fact: in TardisGo all control flow was managed using "the approach of the switch case inside an infinite white statement".
The `nextCaseToJumpTo` value acted as a [program-counter](https://en.wikipedia.org/wiki/Program_counter) which in turn allowed the implementation of `goroutines` as [coroutines](https://en.wikipedia.org/wiki/Coroutine).

[2021-03-28 15:06] elliott5 commented on #32
... and TardisGo had goroutines before GopherJS ;)

[2021-03-28 15:29] elliott5 commented on #31
I don't think every function that uses `defer` should begin with `Go.recover_exception = null;`, because if a `panic` is currently in progress (possible if a `defer`ed function calls another function which uses `defer`), this would loose the information about the current Haxe exception.

[2021-03-28 17:25] PXshadow commented on #31
Thank you this is very useful, a little silly how straight forward it is and yet I totally missed it. I will use this prototype for implementation.

[2021-03-28 17:37] PXshadow commented on #33
Good find, I'll sanitize comments.

[2021-03-29 06:13] elliott5 commented on #26
Extract from https://golang.org/ref/spec on *integer operators* explaining the special processing described above:
《
For two integer values x and y, the integer quotient q = x / y and remainder r = x % y satisfy the following relationships:
[code]
with x / y truncated towards zero ("truncated division").

...

The one exception to this rule is that if the dividend x is the most negative value for

[2021-03-30 06:36] #33 closed

[2021-03-30 16:25] elliott5 commented on #31
For build 6698ff8...
Function `f()`  `_defercall_0` generated Haxe:
[code]
Looking at the Haxe Dump file (after macro expansion), is being expanded to:
[code]
...which obviously never prints "Recovered in f".

My solution, make `recover_exception` global, and simplify `recover()`:
[code]
Also swap `!Go.isNull(r)` (which is never `true`) to `r!=null`.

With those changes, everything works properly

[2021-03-30 17:41] elliott5 commented on #31
To be correct, the Go `recover()` builtin returns an `interface{}` which is modelled in go2hx as a Haxe `Any` value.

So the code should actually be something like:
[code]

[2021-03-30 22:51] PXshadow commented on #31
This is very useful thank you! I sent in an issue to Haxe, I'm fine using the other targets for now. I'm not sure why recover_exception is required to be a global, It seems to be working now scopped within the function, I'm fine making it global does this at all relate to your comment with Go.recover_exception though? "Go.recover_exception = null;, because if a panic is currently in progress (poss

[2021-03-30 22:57] PXshadow opened #34 "Transpile Fmt stdlib into Haxe sucessfully and passing the tests"
The fmt formatter for Go is pretty sophiscated, currently go2hx was using a modified Haxe library that simulated the formatter for c, however Go has alot of extra features and requirements on top of C's fmt, I think it would be a good idea to eventually get Fmt to transpile properly into Haxe code for use in ``stdgo``

[2021-03-31 05:10] elliott5 commented on #31
Yes, exactly so @PXshadow, the exception must not be lost before it can be recovered.

[2021-03-31 05:15] elliott5 commented on #34
This will be a lot of work @PXshadow, but will be a real breakthrough, because so much native Go uses `fmt` (often just to format strings) and so much of `fmt` is built on `reflect`.

[2021-03-31 10:10] PXshadow commented on #26
Thank you for the info this is very helpful, These are the best cheats I could possibly ask for to work on the clamping and finishing support of the numbers. I hope to get all of the numbers functioning properly soon.

[2021-04-03 05:51] elliott5 commented on #26
Following update f4837dde5a53fb6fd8c1f54b14ea380b7059089c ...

The first example in this issue works, but add one to the second number and it does not:
[code]

[2021-04-03 06:50] PXshadow commented on #31
@elliott5 I think I've ran into a brick wall any idea how to support a defer like this?
[code]

[2021-04-03 06:58] elliott5 commented on #31
You never know at compile time how many `defer` statements will be executed by the logic of a function.

The best thing to do is to use a stack to hold the defer calls, then you can unwind the stack when the function exits (in whatever way).

I outlined an example approach to this 4 days ago above.

[2021-04-03 07:27] PXshadow commented on #31
Oh yes your method works wonderfully shoot I didn't see the read the unwinding part my apologies! When I wrote you the issue I had an idea from it and spent the last 30 mins working on a macro fix the unwinding method seems more clean straight forward though, here is the code.

[code]

[2021-04-03 08:37] elliott5 commented on #31
In the code above the order of execution using `for (defer in deferstack) {` is wrong - the stack entries need to be `pop()`ed, see https://tour.golang.org/flowcontrol/13

Using `Reflect.callMethod(null,defer.func,args);` with the `args` all held in `Array<Dynamic>`  will  be much slower at runtime than using a `Void-Void` closure.

You will also need code in addition to `callMethod()` to deal wit

[2021-04-03 10:03] PXshadow commented on #31
Thank you this advice is very helpful @elliott5 the closure but will defiently be tricky I've ran into it a little bit, I'll run some tests and also get defer functioning, the last part of defer that it a little bit tricky is dealing with returns as a try catch makes it so the return might not get called within try and therefore will fail with "expected return"  I've removed most of these errors i

[2021-04-03 11:30] elliott5 commented on #31
The generated Haxe is wrong because there is no
[code]
block within the `catch` branch.

Unwinding the `defer` stack needs to happen in multiple places - after every explicit `return` and after the end of a function, as well as in the `catch` branch.

But the actual return of the function needs to happen after the `try{}catch{}` blocks, so that the `defer` closure can set the return value, as in t

[2021-04-03 11:46] elliott5 commented on #31
Looking at the code above, it may be that the body of the `try` block needs to be a closure too, so that the `return` control flow works properly, of the form:
[code]

[2021-04-03 14:19] elliott5 commented on #26
The four `clamp` functions at https://github.com/PXshadow/go2hx/blob/a4809b913a45146ee48b77a719a11b43e9970917/stdgo/StdGoTypes.hx#L83 were altered (https://github.com/PXshadow/go2hx/commit/f4837dde5a53fb6fd8c1f54b14ea380b7059089c) to set the underlying `Int` value to 0 when out of range.

This is incorrect behaviour (as described above) they should "clamp" the underlying value to be within the per

[2021-04-04 06:04] PXshadow commented on #26
Reverted the clamp functions back, I was doing binop tests and thought they had to be zero but it's fully passing with the changes reverted, so my apologies, and thank you.  As for the UInt clamp you are right and it makes sense, however I'm unsure how to properly allow the overflow into an unsigned int. For instance:
[code]
how does the compiler figure out that it will now overload to -1? Thanks

[2021-04-04 07:03] elliott5 commented on #26
Well done. I'm glad the tests are passing. :)

To illustrate how UInt works in Haxe, I've written - https://try.haxe.org/#6074498C
This works as I would expect in `neko` and `hl` but fails in `JavaScript`.

[2021-04-04 08:32] PXshadow commented on #26
Thank you yes me too with regards with the Tests, it's very nice seeing the spec get more and more supported! Thank you for the write up, I am a little confused by it though I thought ``4294967294+3`` = 1 would be negative and less then ``4294967294`` = -2 because of the negative overflow.  The string parsing makes sense as the number is to big to be held as only a postive integer with max range.

[2021-04-04 09:04] elliott5 commented on #26
I'm afraid the last line of your Go code is wrong @PXshadow .

4294967296 is one larger than the largest `uint32` value, so in Go it wraps to 0. Just as  `int32`-1+1=0.

You can see a slightly adapted version of your code running at https://play.golang.org/p/k9mdS38csGS

[2021-04-04 15:19] elliott5 commented on #26
You may be interested to know that the 32-bit-pattern `0x80000000`
- as an `uint32` =  2147483648
- but as an `int32` is its largest negative value  = -2147483648

...and if you take one away from that 32-bit value?
- `uint32`  2147483648 -1 = 2147483647
- `int32` -2147483648 -1 = 2147483647
...the `int32` flips from its most negative value to its most positive value, and both are equal!

[code]

[2021-04-06 16:38] elliott5 commented on #31
Go code below for reference of the beautiful example discussed in the posts above (named returned value and defer and try/catch), not working yet as at bd286f62196163840fee01550e2bef0a8c45752e.
[code]

It may be worth re-naming this issue, to make getting this code working the main focus.

[2021-04-06 17:52] PXshadow commented on #31
Yeah good idea, sorry for the delay, so many tests to run I didn't manage to run and see that divide by zero test working as well as something similar as you have above, I'll work on it right away @elliott5 .

[2021-04-06 18:31] PXshadow opened #35 "Seperate info into global and local data"
Currently a type info is passed around pretty much to every function in typer, however its both global and local data of the scope so it has lead to data types that are much to large with alot of if checks to find the correct local data from the layer at. So instead local could be passed around and down the scope get more and more added witch would also allow the compiler to be multithreaded per f

[2021-04-06 18:39] PXshadow opened #36 "Test system use Haxe completion server"
https://haxe.org/manual/cr-completion-server.html

[2021-04-07 09:17] #35 closed

[2021-04-11 19:41] #36 closed

[2021-04-14 05:39] PXshadow commented on #25
The String function ``func (k Kind) String() string`` interferes with the switch statement case for k == string, as the names conflict, but only on the Haxe side, the standard method of changing out name conflicts when casing is turned to lowercase doesn't work as both identifieres are uppercase, not sure of a good fix for this, I could brute force it and declare all function identifiers be named

[2021-04-14 07:04] elliott5 commented on #25
I've seen other contexts where the Go->Haxe renaming does not work, because the code doing the renaming often does not know the full Go context of the name. An example of this is field names with upper/lower case first letters.

I think it would be better to always rename in a brute-force way, but keep the original Go names (because they don't clash).

[`Haxe reserves the identifier prefix _hx_ fo

[2021-04-14 09:53] PXshadow commented on #25
I like following the convention of ``_hx_`` but for go identifiers now. Yeah I think your  advice is the most sound that if a rename occurs make it in a brute force way to avoid other headaches. I still have the urge to put a few exception notes however, first should come working usable code, afterwards can come polish and petrifying.

I'll look into the field name uppercase and lowercase test and

[2021-04-14 11:05] elliott5 commented on #25
Sorry, looking at my failing upper/lower case example again, it looks like an instantiation issue. Go code:
[code]

[2021-04-15 04:22] elliott5 commented on #31
Well done for getting the `error_()=> runtime error: integer divide by zero` example working @PXshadow !

[2021-04-15 06:09] elliott5 commented on #25
Confirm instantiation issue fixed.

[2021-04-15 06:52] PXshadow commented on #31
@elliott5 Thank you so much! Was really nice to manage to get it passing, I switched it from just a plain interface Error to a runtime Error in order to allow it to cast, that was the big hurdle.

[2021-04-16 06:18] PXshadow opened #37 "NaN integer conversion"
[code]
``return: NaN -2147483648 -9223372036854775808``

Not sure how to produce this without hard setting the conversions. Or should it even be reproduced? Currently one of Tinygo's tests relys on [this](https://github.com/tinygo-org/tinygo/blob/release/testdata/float.go#L44-L46).

[2021-04-16 06:24] PXshadow commented on #29
More edge case tests are probably needed for the renamer, Private classes could also be prefaced with an underscore, ``T_`` works as well though. As for the _leading_underscores everywhere, yeah I want to avoid that if that's at all possible, I think a decent system is just patching cases and then having a hard fallback if needed.

[2021-04-16 06:25] PXshadow commented on #28
I think this can be closed.

[2021-04-16 06:25] #28 closed

[2021-04-16 07:01] PXshadow commented on #8
Interface inspection at compile time is implemented.

I agree with having full path names that should prevent any conflicts as you have mentioned. The only issue I see is Interfaces as you've said, there needs to be some way to not just pass one typeName but rather a list I think to cover Interfaces. If you have any ideas for implementation I'm all ears @elliott5 .

[2021-04-16 07:03] PXshadow commented on #9
This is currently done, it does need to be tested more, however that can come in the future when the test suite is passing completly or near complete on one target.

[2021-04-16 07:03] #9 closed

[2021-04-16 08:22] elliott5 commented on #37
Go prints `NaN -2147483648 -9223372036854775808`.

GopherJS prints `NaN 0 0`.

In terms of the underlying bit pattern for `NaN` inside 32 or 64 bits, it is completely logical for it to map to a valid `int32` and `int64` value.

So I think you should add a special case for `float32/64` with the value `NaN` when cast to `int32/64`.

That will allow the TinyGo test to pass and may also be behaviour r

[2021-04-16 10:32] elliott5 commented on #8
I'll work up some ideas... ;)

[2021-04-16 16:51] elliott5 commented on #8
To get Go's "Duck Typing" properly requires a working Go `reflect` package that provides the `Implements` method on a type given an `interface`.

go2hx does not have this yet, and it will take quite some time to provide, see the low-level Go code for  `implements`:
https://github.com/golang/go/blob/04e1176fd288f1ceba987d8d2fd9040e45157b38/src/reflect/type.go#L1476

TinyGo does provides this method

[2021-04-17 06:14] elliott5 commented on #8
Go `type.Implements(interface)` returns `true` if the `type` has all of  the method names, with correct function signatures (correct parameters in/out), required by the `interface`.

Unfortunately Haxe reflection only allows class function names (Go method names) to be found at runtime, not their function signatures.

This will require a work-around to hold the function signature in machine readab

[2021-04-17 08:25] PXshadow commented on #8
Yeah this makes sense and is doable. As for Haxe native code working with go2hx's std, helper macro functions can be created to add the necessary information to let the std handle them.

An example of this would be very helpful, I think I understand the problem that being, at runtime Haxe's reflect has no means to inspect an interfaces methods because it's not a runtime value able to be inspected

[2021-04-17 12:31] elliott5 commented on #8
I'm very flattered @PXshadow, thank you for your kind words, I can see you're keen to press ahead of TinyGo, which is very laudable, but will take some time. I'll work up a `reflect` prototype over the next week or so.

The type-switch needs to use the same data-structures as are used by `reflect`, so please don't do any more work on it until you see my prototype.

[2021-04-18 00:02] PXshadow commented on #8
Of course 😄, and yes I want to catch up as soon as possible with supporting the Go spec. I am really looking forward to you desinging the reflect prototype! I won't work on reflect until I see your prototype and instead working on supporting other parts of the spec not releated using mostly tinygo's tests.

[2021-04-18 18:54] elliott5 commented on #11
I'm investigating using the Haxe `rtti` (Run Time Type Information) interface as the primary source of type information for Go, it works for go2hx because it captures the Abstract type names. https://haxe.org/manual/cr-rtti.html

To use this approach, every Go named type / Haxe class will need to be prefaced by `@:rtti`.

Also, in order to use `@:rtti` every anonymous structure will need to become

[2021-04-19 07:02] #20 closed

[2021-04-19 07:04] PXshadow commented on #25
Nice I'll close this, if you find any occurence of IOTA failing feel free to make another issue.

[2021-04-19 08:39] elliott5 commented on #25
The only think I'd say is that  in the code generated for the original example, the first value `Invalid` is of type `Kind` but subsequent values are of type `GoInteger`.
Not a problem in the short term, but could be later...

[2021-04-19 08:56] elliott5 opened #38 "Preface generated class and interface declarations with @:rtti"
I'm planning to fork this repo and write the prototype `reflect` module in the correct location.

It would be really helpful to my testing @PXshadow  if you could preface generated `class` and `interface` code with `@:rtti`.

There will be more code generation tweaks required, if the prototype approach works.

[2021-04-19 09:59] PXshadow commented on #38
@elliott5 Fantastic! Let me know if you need any more changes on my side to help you with the prototype.

[2021-04-19 10:05] PXshadow commented on #25
I'll fix that and close after, good point.

[2021-04-20 09:24] #25 closed

[2021-04-20 09:37] PXshadow opened #39 "Stdgo types need to be known by the compiler when typing."
Go code is currently processed in a certain typing order import/types first, variables next and finally functions. This allows the compiler to know for instance``Type(10)`` being a type assertion rather then a function call. The issue comes from stdgo which is written in Haxe and passes no information to the compiler at present.

Example :

[code]

The compiler doesn't know that Duration is a type

[2021-04-20 10:25] elliott5 commented on #39
I presume the issue is that the AST for the `time` (and other Haxe-implementd) Go-native package is not being generated and therefore not processed by the go2hx compiler. I am coming up against similar issues in my limited work on `reflect`.

I can see two ways forward:
1.  Generate and process the AST for the native `time` (and other Haxe-implemented) Go-native packages, then throw them away and

[2021-04-20 11:18] PXshadow commented on #39
@elliott5 you bring up very strong evidence for the second approach, and I agree, I was initally not as much in favor because I thought it could lead to more incombatibility with for instance Tardisgo bringing in go 1.4's src and modifying it (I'd be curious what was the main driver of taking that approach as well). But you're right with the second approach lots of the Go code from the standard li

[2021-04-20 11:39] PXshadow commented on #24
I have a few implementations for calling Haxe code that I think are pretty good and serve diffrent purposes.

1. The rather advanced one is macro generation of exported Haxe code into Go code to be used as an autocompletion bridge that fits correctly at compile time. This one is rather complex and is a pretty large system on its own, the reason why I think it's quite useful is it would allow, full

[2021-04-20 13:29] elliott5 commented on #24
Option 2 is actually part of the [function declaration section of the Go language specification](https://golang.org/ref/spec#Function_declarations).

The Haxe code would still be able to see public go2hx generated global/public variables.

As you say, a preamble comment could help to generate the right code for calls:
[code]

This will feel like a big step forward to me, when it is implemented.

[2021-04-21 13:40] elliott5 commented on #24
I've eventually got what you've implemented to work, but it is not quite what I was expecting!

You have very skilfully picked up the code for the  function referenced by `//#go2hx` and replaced the body of the Go function  beneath that `//#go2hx` with the code from the other file.

My expectation was that what would be generated would be a simple call to that other external Haxe method.

So my Go

[2021-04-21 21:20] PXshadow commented on #24
Yeah I initially had the idea to just do a simple call too @elliott5 however I thought the package paths might be quite confusing to figure out. It also requires the TestHarness code to be manually moved into the golibs folder, witch adds a decent amount of complexities. I see though that the path that you had to set for the TestHarness was not portable as well. I'll push the call access method on

[2021-04-21 21:27] PXshadow commented on #24
Keep in mind also that the module paths are determined by the Haxe build.hxml source paths, so it's not very straight forward to be able to figure out where the Haxe file being refrenced in the native function access are in order to bundle them into the golibs folder. Final note to explain the golibs folder, it is to have an export folder for Go -> Haxe code and be able to easily set it as a sourc

[2021-04-22 02:58] Chloe-cdq opened #40 "Problem with Go->Haxe->C++"
I want to use this tool to convert Go to Haxe firstly, and then use `haxe --main Main --cpp ./` to convert Haxe to C++. But I got some problems.
A simple Go program:
[code]
Firstly use go2hx to convert it to a Haxe program:
[code]
But when I want to use  `haxe --main Main --cpp ./` to convert it ti a C++ program, I got stuck. Because  `--main` need to specify class Main, but the Haxe program don't

[2021-04-22 04:39] elliott5 commented on #24
Yes @PXshadow, the code-inclusion method is very cool, there are occasions where it may be the best approach ... even if it is not classically how Go handles calls to C/assembly language functions.

I can see that getting the correct  Haxe module paths is a big problem too, and is also a problem for the `reflect` system prototype I am working on.

In the prototype, a Go named type or interface ref

[2021-04-22 05:03] elliott5 commented on #40
@Chloe-cdq, you will need  `haxe` command arguments (easier in a `.hxml` file) something like:
[code]

@PXshadow is doing a great job developing this project, but not everything works yet ;)

Please let us know how you get on!

[2021-04-22 06:37] PXshadow commented on #40
The brains for this projects are all @elliott5, Not everything working yet is on me though 😅

@Chloe-cdq Here are the exact commands I used to build your example with lix.

## Steps

1. Creates the lix scope in order to set a Haxe version.
[code]
2. Set the Haxe version to 4.2.0 or later.
[code]
3. Install go2hx again but this time as a library.
[code]
4. Install hxcpp the Haxe compiler for C++

[

[2021-04-22 06:44] PXshadow commented on #24
@elliott5 Wow that is a fantastic find with regards to using Type's resolveClass and getClassName! So I assume you need the``_typeName_`` on Structs to be set with the Haxe module path? Let me know if I'm missing anything.

[2021-04-22 08:28] Chloe-cdq commented on #40
Thanks a lot for both your help!
I have followed the steps and successfully got the C++ program. With the `.cpp` files in `src` folder and  the `.h` files in `include` folder, it seems that a simple program have become a so large and complicated project after the two-step conversion!

[2021-04-22 09:41] PXshadow commented on #40
Of course happy to help @Chloe-cdq ! As for the complication I agree it's quite a lot, especially if you are not familar with Haxe's build tools. Currently go2hx is focused on transpiling Go libraries for Haxe use, however we hope to streamline the process in the future so instead of 5 commands it's just one and you are able to pick the target to generate, something like ``lix run go2hx -cpp ./mai

[2021-04-22 10:47] elliott5 commented on #40
You're welcome, it's great to have someone take an interest in the project @Chloe-cdq.

Go famously has a  significant level of runtime code which has to be emulated, but hopefully much of that will fall away after compilation. After the project gets to 1.0, some optimisation will be possible.

[2021-04-22 10:58] elliott5 commented on #24
The `rtti` data is only for Haxe classes. So typed Go structs work fine, because they compile to Haxe classes:
[code]
The Haxe `Type.getClassName` for this in my testing is `command_line_arguments.Tx`, so the `_typeName_` field is not required.

But untyped Go structs currently generate Haxe anonymous structures, `@:ntti` is not available for these, so the prototype falls-back to using Haxe `Refle

[2021-04-23 17:41] elliott5 opened #42 "Known reflect prototype issues"
As regards my first pull request #41:

Only the `Type` side of reflect has been started, no work yet on the `Value` side.

The `Type` system only works fully for simple types with a textual name in the interface and for named types based on a struct, where a Haxe class is created which has had `@:rtti` metadata created.

Named types not based on a struct that generate code using the `@:using(haxe.

[2021-04-24 05:56] PXshadow commented on #42
This is great stuff, I assume the method handling for Slices/Arrays/Chans will just a recursive system for the method kind for instance. Do you need some type of transport of:

To the reflect system to have it partially handled at compile time somehow? Or potentially add ``@:rtti`` to the generated extensions Classes as well?

[2021-04-24 07:53] elliott5 commented on #42
I will look into Slices/Arrays/Chans, which should work in the same way as other basic classes.

Certainly `@:rtti` needs to be added to the extension classes.

Because it is not a named type, I think I made a mistake, reflect.Kind should not be an abstract, but rather a typedef with an extension in the same way as a normal type ... which I will change.

Then the problem becomes how to handle haxe

[2021-04-24 09:46] PXshadow opened #43 "New stdgo hybrid system"
The system currently relies on two datasets. ``excludes.json`` and ``stdgo.json``

Whether a module exists or does not exist in either of these lists creates 4 possibilities that map to an intended behavior of the generation.

* Excludes prevents a go package from being parsed and exported as data to then be compiled.
* Stdgo list sets whether or not a root package (example: time, os, math) will h

[2021-04-24 13:24] Chloe-cdq commented on #40
@PXshadow @elliott5 I‘m not sure whether go2hx&haxe toolchain can convert a program that has `import xxxxxx`. Actually I tried some simple program with this feature and  got error.

[2021-04-24 16:23] elliott5 commented on #40
The good news @Chloe-cdq, is that you can import Go packages ... the bad news is that almost all of the Go packages you might want to import do not work at the moment.

There is some way to go before the first substantial Go library package is working. Actually we're still trying to figure out some of the basic language specification moving parts at the moment.

[2021-04-25 15:23] elliott5 commented on #42
Latest PR #44 requires code generation changes to work.

Go named types need to be implemented using an abstract, to allow the correct conversion to `interface{}`, and their `__extension` class needs to contain a static `_typeName_` string to provide the name of the underlying type.

The prototype is the [`reflect.Kind`](https://golang.org/pkg/reflect/#Kind) implementation:
[code]

[2021-04-25 15:32] elliott5 commented on #38
Unfortunately `@:rtti` generation is not working yet on my ...__extension classes, don't know why.

Also, https://github.com/go2hx/go2hx/issues/42#issuecomment-826342021 contains details of how the non-struct named types / ___extension classes should be generated to work with the prototype reflect package/module.

[2021-04-25 21:03] elliott5 commented on #42
TypeOf array, slice, map and channel now added.

[2021-04-26 09:46] PXshadow commented on #38
@elliott5 not working yet in what capacity? I have tested it and ``@:rtti`` seems to be added to _extension classes.

[2021-04-26 09:50] PXshadow commented on #24
@elliott5 would you like to have anonymous structures during compiling be turned into classes?

Yeah that's unfourtnate not sure how to deal with that properly until the``is`` operator works for Abstracts.

[2021-04-26 10:00] PXshadow commented on #42
@elliott5 let me know if the code generation changes I have pushed thus far is sufficent (class extensions for all alias types and _typeName_ system that as a string holds the underlying type of the alias). Also apologies for the commits as well recently working on getting multiple files to work/proper exporting of types and I needed to quickly get it to a point where it wasn't breaking the compil

[2021-04-26 10:34] PXshadow commented on #42
Perhaps all StructTypes could take the types of their fields and put them into a seralized string to be extracted by reflect in the future?

[2021-04-26 10:36] elliott5 commented on #38
Sorry @PXshadow, I can't seem to make a failing example, so I hope I am wrong.

[2021-04-26 10:48] elliott5 commented on #24
The reflect code will work in a simplistic way on anonymous structures for now, but the Go types will only be right if just Haxe equivalent int/float/bool/string types are used, and the field values are not null when inspected to determine their type.

There is exactly the same issue with reflect for array/slice/map. Worse, for chan/func values there seems no way to inspect the values required to

[2021-04-26 11:12] PXshadow commented on #24
using ``Type.typeof`` and ``Type.getClassName`` of a generic class with ``@:generic`` meta data you can actually obtain the T type underneath.

https://try.haxe.org/#5e3aE979

No idea though how to obtain type information of a function at runtime in Haxe.

[2021-04-26 11:18] PXshadow commented on #24
Wild idea for this, use the ``@:using`` extension approach to turn the underlying type for abstract GoUInt8 for example as ``@:using(StdGoTypes._UInt8__extension) typedef _UInt8 = Int`` then every data type (including anon structs in the future) will have _typeName_ so you won't even need to resolve the type, instead you can just call ._typeName_ for any type including abstract data types. Let me

[2021-04-26 11:21] elliott5 commented on #42
No need to do this with namedTypes, as these have the rtti data to work from. But for anonymous structs and other complex types without rtti data, that is what I'm hoping for.

[2021-04-26 11:27] elliott5 commented on #24
That could be a great idea in the medium term. But the type information is actually set-up by the `@:to ... AnyInterface` in the abstract, it can't be called once the GoUInt8 is passed to the AnyInterface ... I've tried without success ;)

[2021-04-26 11:34] PXshadow commented on #24
Oh yeah I totally forgot that system exists... Wouldn't passing to AnyInterface and obtaining typeName there solve the issue? I know it probably doesn't because things are not that simple but on first glance I'm not sure why this approach wouldn't. Also if you need extra data passed to AnyInterface for, for instance GoUInt8 that can be handleded.

[2021-04-26 13:35] elliott5 commented on #24
Sorry @PXshadow , I missed your tip about getting the Haxe generic type for a class from `Type.getClassName(c)` - I will try it out, but it is unlikely to reference Go types that are abstracts.

In the longer term, getting the correct type (in `GT_enum` format as constructed by the go2hx transpiler, then serialized) passed within AnyInterface will always be the best solution.

For non-rtti compex

[2021-04-26 14:01] elliott5 commented on #24
Copied and pasted the https://try.haxe.org/#5e3aE979 code into reflect, but unfortunately I can't see any classes of the form "class_typeName":
[code]

[2021-04-26 14:07] elliott5 commented on #38
OK, if you generate code for `rnd.go`, in `Rnd.hx` (line 252) you will see there is no `@:rtti` before:
[code]

[2021-04-26 15:12] elliott5 commented on #38
Latest generated code LGTM as regards `@:rtti`.

[2021-04-27 08:47] PXshadow commented on #24
It works on Chan class but abstracts seem to prevent the name having the type param as a string. I'm working on another way to get this working with typed T param and some code generation, will have a prototype soon.

[2021-04-27 13:14] elliott5 commented on #38
Just to be clear, `_typeName_` needs to contain text describing the underlying type, not the surface type.

[2021-04-27 14:04] elliott5 commented on #38
Commit #38 `static final` is working, but unfortunately there is another problem.
There is no abstract code to say what to do when casting `@:to` an `AnyInterface`.

Go code:
[code]
Generates:
[code]
I was expecting it to generate:
[code]

[2021-04-27 14:06] elliott5 commented on #24
... although inspecting class name suffixes will only give Haxe types, rather than Go types.

[2021-04-28 11:54] elliott5 commented on #38
I'm afraid https://github.com/go2hx/go2hx/commit/63eea543b7d390568d4c4b96b4d31ea52371de11 generates incorrect code for the example above:
[code]

The `class _NonStructT__extension` containing `_typeName_` for the underlying type is missing and not referenced.

And the `__promote()` method if the abstract uses the underlying type  (`uint8`) rather than the class path of the surface type (`Type.getC

[2021-04-28 12:05] elliott5 commented on #8
Each `case` in a type switch will likely need to have a type created to test against.

I have been considering how best to extend the "_typeName_" idea to allow constant type descriptions.

@PXshadow, I assume somewhere in the parse tree is a branch containing these declarations that could be used to generate the type descriptions.

What is the best way to go about doing this?

[2021-04-28 12:13] elliott5 commented on #8
FYI @PXshadow , I've refactored GT_struct to make it easier for go2hx to generate declarations, but not committed it yet.

[2021-04-28 20:08] elliott5 opened #45 "_is_pointer_ meaning for reflect"
Consider this Go code:
[code]

1) After the initialisation phase, `vert._is_pointer_==false` and `vertP==nil`. LGTM.

2) After `vertP=&vert`, both `vert` and `vertP` seem to be the same object (same `_address_`), with `_is_pointer_==true`. How can reflect know which is the pointer and which the target of that pointer?

3) After `vertP=nil`, `vert._is_pointer_==true` which suggests `vert` is still

[2021-04-28 20:43] PXshadow commented on #8
Feel free to commit it, my recommendation for changing the type switch behavior of go2hx (as asked about above) would be making a new branch and modifying the [typeSwitchStmt function](https://github.com/go2hx/go2hx/blob/master/src/Typer.hx#L873).

[2021-04-28 21:02] PXshadow commented on #45
You're right there doesn't seem to be a distinction between the two, it seems that ``_is_pointer_`` does not produce the correct result, because classes in Haxe are pass by reference, changing ``_is_pointer_`` to true within PointerWrapper also changes it for the value type, not intended behavior.

Current idea to work around this is for PointerWrapper abstract and Pointer to have it so there is a

[2021-04-29 02:06] Chloe-cdq commented on #40
Thanks for your reply @elliott5 , I'm looking forward to this project's future progress!

[2021-04-29 07:28] PXshadow commented on #38
Let me know if latest generation is sufficent for your needs.

[2021-04-29 07:44] PXshadow commented on #24
The prototype code (mentioned above) is now commited, can now add typeNames of generic types such as chan/array/slice. A design doc should probably get created though in order to know how reflect/type switching and AnyInterface map to each other and what fields are required across the systems. I'm pretty sure at this point "typeName"" is legacy and should get replaced with a more sophiscated syste

[2021-04-29 07:49] elliott5 commented on #45
Certainly, after the latest commits, `_is_pointer_` is never `true` when I re-ran the test ... is it still required?

I have yet to look at how the pointer functionality is now implemented, to see if `reflect` can see it at runtime.

[2021-04-29 08:25] elliott5 commented on #38
After the two commits above, this go code:
[code]

Generates the Haxe code:
[code]

Which expands at runtime to the following  3 `.dump` files in the `command_line_arguments` directory...

`NonStructT.dump`:
[code]
This seems like an empty declaration, I'm not sure if `@:rtti` will have any effect.

`_Main/NonStructT_Impl_.dump`:
[code]
This is Haxe auto-generated class is interesting and potentia

[2021-04-29 08:37] elliott5 commented on #24
I agree, `typeName` as a string is a legacy.

It would be far better to use `reflect.Type`, which is to say `stdgo.reflect.GT_enum`, to represent the Go type, since it allows any Go type to be represented.

This would require changing the specification of `AnyInterface` to use `type` rather than `typeName` then changing all those `@:to` functions - a major job.

I should probably commit my latest

[2021-04-29 08:39] elliott5 commented on #8
see https://github.com/go2hx/go2hx/issues/24#issuecomment-829047289

I'm not sure a new branch is required, you are the best judge of that.

[2021-04-29 08:57] PXshadow commented on #8
@elliott5 yeah you're right no new branch needed, was thinking of another set of potential changes.

[2021-04-29 09:05] PXshadow commented on #38
@elliott5 thank you for the feedback honestly the reason why I went only with the abstract approach was I thought the other approach wasn't possible, I just tested it and it actually does work, quite suprised.
[code]

I'll work on using all three of these data types in cordination to do type aliasing now.

[2021-04-29 13:58] elliott5 commented on #38
The 3rd version is nearly working...
[code]
Good:
- the `@:to` reference is correct, so the `reflect` package can find `_NonStructT__extension` and via rtti data see the `string()` method.

Bad:
- because the `_typeName_` field is in an abstract, it does not exist at runtime, so `reflect` cannot determine the underlying type, and as a result marks it as "invalid".

Solution:
- move the `_typeName_

[2021-04-29 16:25] elliott5 commented on #43
I propose that, for `reflect` (and probably eventually other uses) every go2hx object namable in Go implements a revised https://github.com/go2hx/go2hx/blob/15f7810b56e92ad48a749576e5622dea9122ba58/stdgo/StdGoTypes.hx#L1659.

Change to:
[code]

Because the `_gt_` variable will be read at runtime, it will probably need to be implemented inside a class, rather than an abstract.

For example, `Pointe

[2021-04-30 11:58] elliott5 commented on #38
Just tried the 4th version of the code ( e3814f82f37061692bcf21ecf9c293ab68c76f4b ).
I can only apologise @PXshadow  that this is taking so long to resolve.

[code]

Sorry, I did not make two things clear about the `__extension` class:
- both `_typeName_` and any methods (e.g `String`) need to be `static`, so that the `rtti` inspection code can see them and so that the methods can be called (I don

[2021-04-30 21:58] PXshadow commented on #38
No worries at all I'm sorry for how long it's taken me to figure out @elliott5 I should've remebered to have the methods be static for static extensions, but forgot when switching out of abstract methods.

This is a little tricky to do as it requires typeName look ups for the compiler, I will most likely need to implement this for other parts as well, but for now couldn't the name extension inform

[2021-05-01 04:57] elliott5 commented on #38
Thanks for your persistence @PXshadow.

I'm writing some macro helper code (and a small example macro) to find the Go type at macro time.  That may help with the underlying named type issue you describe.

[2021-05-01 05:38] elliott5 commented on #38
Just tried 5th version of non-struct named type code, works perfectly for `reflect` on simple example above! 👍

[2021-05-01 06:09] PXshadow commented on #38
@elliott5 Yay!!! Thanks for your continued support on it as well😄 . I did not rigorously test it with the reflection code it's very possible it will still need more tweaks and that's totally fine. The macro idea for finding Go types at compile time is very good, and I've used it before with pretty good results, let me know if you need any help on it, or integration with any of the other systems in

[2021-05-02 12:03] elliott5 commented on #38
I'm pleased with `stdgo.reflect.cast_AnyInterface(expression)` as, like the inspection of `@:rtti` on classes, it gives (almost) all the type information that the project needs at no extra programming cost.

The Go type information that it does not give is the length of an array, which I have set to `-1` for the time being.

Latest version at #49

I tried, but failed, to replace the `@:from` in `A

[2021-05-04 18:08] PXshadow commented on #45
@elliott5 I think so because PointerWrapper does not exist at runtime and therefore can't be checked at the te and PointerWrapper only wraps struct types so therefore it should be sufficent to check _is_pointer_ to see if it is wrapped or not. If you have an idea for a better way to do it, I'd be intrested.

Perhaps the cast AnyInterface macro could do the trick as well as for alias types now that

[2021-05-05 06:11] elliott5 commented on #45
At a philosophical level @PXshadow , I don't think any form of data can be both 'data' and 'pointer-to-data' at the same time, so I don't think `_is_pointer_` should exist.

The `cast_AnyInterface` macro proves that (most of) the required Go type information can be obtained at Haxe compile-time.  For Go named types (Haxe classes), the RunTIme Type Information system (generated by a `@:rtti` meta d

[2021-05-07 06:04] elliott5 commented on #32
A proven way to solve the `goto` code generation issue (only for those functions that contain a `goto`) would be to use the TardisGo approach of generating code from the Go SSA static analysis https://pkg.go.dev/golang.org/x/tools@v0.1.0/go/ssa.

In the SSA form: "All looping, branching and switching constructs are replaced with unstructured control flow." TardisGo implemented this using a `switch

[2021-05-07 09:45] PXshadow commented on #32
I like this approach more, a type of new context for gotos to operate it, a little bit in a way how the recover system well from what I understand where extra code gen is added when recover/goto as presented.

Yes that would be amazing! I've been following [pecan](https://github.com/Aurel300/pecan) closely which is a macro based coroutine approach. In the future it could be added to go2hx or Haxe

[2021-05-07 17:21] elliott5 commented on #32
As pecan has support for `goto` functionality (https://github.com/Aurel300/pecan/blob/e075482e1d8a70c46b226bdd3a83d4e4dede91fe/test/test/TestCoroutine.hx#L709) it would be worth exploring that option as a way to implement `goto` in Go2hx. What is missing from the example is a `self.goto("label")` inside the function.

It would be great if it could be used for goroutines too, but that depends on th

[2021-05-29 01:10] jayvdb opened #53 "lix: no @run directive found for library go2hx"
When I follow the instructions in the readme on macos, I get this error

[code]

Same occurs if I specify local file `./print.go`

`lix use haxe nightly` is successful.

I am very new to haxe and lix, so that is probably part of the problem.

Versions:
* lix - v15.10.1
* haxe - 4.2.0-rc.1+b37e43d

Also, I think it would be helpful if there was a section in the readme how to build from a git clone,

[2021-05-29 08:45] PXshadow commented on #53
@jayvdb My apologies you caught the project during a move to using Go's type system to start doing static typed analysis on the AST. If you could try latest version and see if it works now that'd be great (make sure to run go build . ). I also updated the README as you recomended. The project is working torwards having fmt get transpiled using go2hx so the library that used to support fmt has been

[2021-05-29 09:33] jayvdb commented on #53
The lix command works now.

It generated `golibs/command_line_arguments/Print.hx`, which was an unexpected place to put it.  Can we specify an output filename for single file go files?  The test suite, mostly https://github.com/adsharma/py2many/blob/main/tests/test_cli.py, is focused on those at the moment.  Transpiling entire projects is sort of supported, and being chipped away at https://github

[2021-05-29 09:49] jayvdb commented on #53
Of our tests in https://github.com/adsharma/py2many/blob/main/tests/expected/ , go2hx fails for binit.go , bitops.go , bubble_sort.go & comb_sort.go .

[2021-05-29 23:22] PXshadow commented on #53
A runtime library is preferable compared to inlined algorithmns everywhere I agree. go2hx uses the approach of meta programming and type analysis as I discussed above. Go has language features that Haxe does not have such as destructing, multireturns etc, (Which I believe both python and go both have). We also have the added benifit of the transpiler using native parts from both language i.e Go's

[2021-06-01 02:17] PXshadow commented on #45
I don't think any of this applies anymore with latest reflection system.

[2021-06-01 02:17] #45 closed

[2021-06-01 02:18] PXshadow commented on #43
Instead of merging Go code, I think the approach of letting Haxe handle what code to use for exported functions/types works better, it's also closer in spirit to the extern system.

[2021-06-01 02:20] PXshadow commented on #42
Both Type and Value should be working, and ``@:rtti`` no longer applies.

[2021-06-01 02:20] #42 closed

[2021-06-01 02:21] PXshadow commented on #39
This should now be able to easily be worked out with access to Go's type system now integrates into the Compiler.

[2021-06-01 02:21] PXshadow commented on #38
``@:rtti`` no longer applies.

[2021-06-01 02:21] #38 closed

[2021-06-01 02:24] PXshadow commented on #31
I believe the divide by zero behavior is integrated I'm not 100% sure though, let me know if there is anything missing @elliott5 if not feel free to close.

[2021-06-01 02:29] PXshadow commented on #29
Current system in place I think is sufficent, summary: all variables/function names are turned lowercase, all type names uppercase. If a name conflict occurs the renamer changes out the unexported name adding a leading underscore. Therefore all library documentation will only ever be diffrent for function/variables and it will be lowercasing them as in the Haxe style.

I think this should cover th

[2021-06-01 02:29] #29 closed

[2021-06-01 02:31] PXshadow commented on #24
This system should be working, edge cases where it is not feel free to open a new issue.

[2021-06-01 02:31] #24 closed

[2021-06-01 02:32] PXshadow commented on #21
After all this time, this is still the most mind boggling Golang syntax I keep running across and get caught up for 10 mins trying to figure out what the heck is going on.

[2021-06-01 02:34] PXshadow commented on #13
This should now be done, it's a very wild mix of import.hx default importing, pkg path, with a global file. Haxe really likes files and Go doesn't even know what a file is 😄

[2021-06-01 02:34] #13 closed

[2021-06-01 02:36] PXshadow commented on #26
uint32 and uint64 need some love. Need at the top of priority list, however they are important for key things in the future I suspect.

[2021-06-01 02:39] PXshadow commented on #12
Pointers are pretty solid from what I understand at the moment. There is a discussion whether to remove PointerWrapper all together, however I think it makes sense to keep it from a Go perspective if someone is reading between the two and does not understand why for certain types Pointers cease to exist, either way make a new issue if anything is astray.

[2021-06-01 02:39] #12 closed

[2021-06-01 02:46] PXshadow commented on #11
Reflection is completly using a macro approach now so this issue can be closed, @elliott5 I do hope I did not insult you by rewriting a lot of the reflection code, the @:rtti system worked very nicely and only missed a few edge cases that I thought for stability sake would make sense to have a single reflection system. Also I very much feel I am standing on the shoulders of giants, without the wor

[2021-06-01 02:46] #11 closed

[2021-06-01 02:48] PXshadow commented on #8
Should now be functional, there is a slight deviation away from the spec for int as an alias as well for int32/int64 not sure if that's a good idea or not but currently it's working. Any issues with an error case for typeswitching would be very helpful.

[2021-06-01 02:48] #8 closed

[2021-06-02 17:31] elliott5 commented on #29
It would probably be worth writing out the rules in full (including reserved word handling) and putting them in the `readme.md` file so that users can see them up-front, to avoid confusion.

Eventually they will need to go into the project wiki, when it is time to build that.

[2021-06-02 18:10] PXshadow commented on #29
That's a great suggestion, I can probably start on the wiki, there is quite a bit to cover that would make the readme way to massive such as Haxe versions, externs, end target generation etc.

[2021-06-02 19:06] PXshadow opened #55 "Create Wiki"
## Topics to cover
* [x] Haxe versions.
* [x] Reserved keywords/ renaming system
* [x] Target generation, -cpp, -js, -interp etc
* [x] Externs (Go code refrencing Haxe functions)
* [ ] Go library testing
* [ ] Distribution (setting output, global libraries, etc)

[2021-06-03 01:03] PXshadow commented on #53
@jayvdb in order to fix the tests for go2hx I cloned py2many and ran the Go tests unfortuntatly binit.go , bitops.go , bubble_sort.go & comb_sort.go, are not passing. It'd also help to know how you are calling go2hx for the tests, as these 3 tests use go libraries yet there is no go.mod refrencing the libs. Let me know if I'm missing anything, thanks.

[2021-06-03 01:22] jayvdb commented on #53
Those tests all pass for go in our CI. We manually install the deps per https://github.com/adsharma/py2many/blob/main/.github/workflows/main.yml#L39

I would want to be calling `go2hx` like `go2hx <args> print.go` , and the runner can also supply an arg like `--output print.hx` to dictate the file.  That part goes in the py2many/cli.py , c.f. https://github.com/adsharma/py2many/pull/290

Then test

[2021-06-03 03:31] PXshadow commented on #53
My apologies, I apperciate the explanation that makes sense. I'll follow the main.yml setup and get the tests passing, and then work on the go2hx side thank you @jayvdb

[2021-06-06 04:38] PXshadow opened #56 "interface to struct casting"
[Haxe Between Class/Interface manual](https://haxe.org/manual/type-system-unification-between-classes-and-interfaces.html) shows that something such as:
[code]
where err is of error type, and strconv.NumError is of struct type is not possible in vanilla Haxe.

Not sure how to get this to work with macros.

[2021-06-06 07:58] elliott5 commented on #56
`strconv.NumError` should not be a struct type, is should be a named type. The  (abridged) type of `err` should be `GT_NamedType("errors.Error",GT_Ptr(GT_NamedType("strconv.NumError",GT_Struct...)))`

A type assertion like this should first check the interface named type contains the instance named type, if not panic, if so use Haxe to cast the interface value (a Haxe `Any`) to the Haxe class that

[2021-06-11 06:51] PXshadow commented on #56
Update! All interfaces now have a __underlying__ method to retrieve an AnyInterface, I'm pretty sure this is an idea you had. It works extremly well and nicely fills in the rest of the conversion situation. The named type system was hard for me to grasp for a while but I think I get it now, a named type differs from its underlying by the fact that it can have implicit interfaces and recv methods.

[2021-06-11 07:40] elliott5 commented on #56
Excellent news @PXshadow !

[2021-06-25 08:46] PXshadow opened #57 "Language features revisted"
There are some language features that I have overlooked and need to get correct in order to finish the language spec.

- [ ] Equality == , past implementation used a [macro based system to check equality](https://github.com/go2hx/go2hx/blob/155c17e77ae633a0180db826bc05fe67e8eff8ca/stdgo/Go.hx#L344-L421), current idea for the rework is having Go.equals simple turn the 2 exprs into AnyInterfaces and

[2021-06-29 12:40] jayvdb commented on #26
fwiw, py2many has started implementing something similar, iiuc, but failing when incompatible types are used at https://github.com/adsharma/py2many/blob/a1324a9/py2many/inference.py#L267 , with some very basic tests at https://github.com/adsharma/py2many/blob/d5ef9c3/tests/test_unsupported.py#L162 .  It looks like this issue here provides some good ideas for new tests and likely would find cases t

[2021-06-29 12:44] jayvdb opened #58 "--help complains about cwd and export.json"
I've just run `lix install https://github.com/go2hx/go2hx --global` to install https://github.com/go2hx/go2hx/commit/c6831cbb3f472519df9224734df76f728ee81c22

Then running `lix run go2hx --help` in my py2many root directory complains about issues that are likely not relevant to running `--help`:

[code]

[2021-06-29 13:49] jayvdb opened #59 "Ability to disable including Go code in the generate Haxe code"
When I generate a simple haxe module (https://github.com/adsharma/py2many/blob/main/tests/expected/print.go), the generated ./golibs/command_line_arguments/Print.hx contains comments containing the Go functions.

Can that be disabled somehow, such as using a cli arg or env var.

[2021-06-29 22:37] jayvdb commented on #58
when I build from source (same commit) and run in the go2hx directory
[code]

[2021-06-30 05:01] PXshadow commented on #58
My apologies, GoMaps have been revamped and is using the go reflect type system which has not had proper extensive testing, I'll work on supporting reflect type conversion more, and get a proper --help command that doesn't complain about irrelvant things.

[2021-07-05 18:52] PXshadow opened #60 "Unsafe Pointer"
pointer <-> unsafe pointer
uintptr <-> unsafe pointer

uintptr conversion not sure if it is possible in Haxe as it requires the element to have no reference for the garbage collector.  Currently left with 2 ideas.

1. [Static analysis](https://pkg.go.dev/golang.org/x/tools/go/pointer) should be able to work with simple conversions from uintptr to unsafe Pointer, however the more complicated the ha

[2021-07-06 05:29] elliott5 commented on #60
A Go `unsafe pointer` is an intermediate form to allow a chunk of memory created with one data layout to be re-interpreted with another data layout.

TardisGo did this by actually having Haxe objects as byte arrays, with the fields accessed as offsets into them. So a TardisGo pointer consisted of two parts in Haxe: the byte-array object and the offset within that byte-array. In TardisGo, an `unsaf

[2021-07-06 06:58] PXshadow commented on #60
That is a very clever idea, an abstract with an underlying dynamic would work very nicely and fits the criteria, you're totally right I'll take this approach thank you @elliott5 !

[2021-07-06 07:04] PXshadow commented on #58
Help should now be printed out without running the compiler, it still needs some work as it spits out 2 help sections one from the Go compiler side and the other from the Haxe side, however it shouldn't impact the functionality overall.

[2021-07-06 07:04] #58 closed

[2021-07-07 09:34] PXshadow commented on #26
Glad the write up is of use again. I could help write some tests for tricky number parts inspired by the golang spec that I imagine get handled differently across languages for py2many.

[2021-07-11 08:39] PXshadow opened #61 "interface{} -> standard interface conversion"
Currently AnyInterface takes value, valueInterface and reflect.Type.
This system normally works with interface{} -> interface{ multiple methods}. However falls short when using reflect to destructure such as value.Field. Cannot figure out a way to make the jump with the current structures for example: int -> abstract type -> interface without using valueInterface to jump to the 3rd becomes: int ->

[2021-07-11 09:06] PXshadow commented on #61
Perhaps getting rid of the abatract type and using a class with typed static analysis is the way to go.

[2021-07-31 06:08] PXshadow opened #62 "pointer equality failing specifically for basic types"
[code]
returns false for go2hx, no pointer analysis is being done at the moment for go2hx. Looking at how gopherjs does it,  makes it seem that each unique identifier instead of making a new pointer uses a pointer that is already created with the value if the value is ever pointer refrenced.

[code]

[2021-08-05 19:00] PXshadow opened #64 "Contributor usability"
rewrite testing system, make it easier to rewrite parts of the compiler and check for regression, know what parts are stable and what parts need some help.

Short term:

- [ ] Rewrite testing system to use [utest](https://github.com/haxe-utest/utest) library (current testing library that Haxe uses)
- [x] Follow Hxnodejs's example and add a settings.json to  Haxe Format on save for vscode.
- [ ] Mu

[2021-08-05 19:28] PXshadow opened #65 "User usability"
- [ ] Better error messaging. (ocaml styled error messaging is end goal)
- [x] Better means to track current progress of transpiler.
- [x] Better performance by checking if compiler can use nodejs version following Haxe formatter's example.
- [x] Not needing to use lix in order to run the compiler can also use haxelib.
- [x] Adding a REPL would be very nice user wise and specifically for Go users

[2021-08-05 23:12] PXshadow opened #66 "Playground"
This requires the bootstrapping process to be completed but is one of the main reasons to prioritize it.
Compilers are either very well tested, solid, stable and therefore usable, or they are not, this distiniction although harsh is understandable considering a compiler is the lowest level and most complex tool in any given userspace. So in order to cross the threshold from toy tool to a industria

[2021-08-06 04:57] PXshadow opened #67 "Simple Go Library Bundles"
A categorized bundle of Go libraries curated by the go2hx compiler team. Allows the compiler to begin producing propositional value, without the compiler meeting spec compliance yet.

*Here is a mockup for a postcard design to showcase off the graphics bundle 1.0 in the future.*

![go2hx_graphics_bundle_1 0](https://user-images.githubusercontent.com/9813078/128456972-d165e09e-af80-4258-afdd-5fe410

[2021-08-08 15:32] elliott5 commented on #67
This is a great idea of course @PXshadow, visual images attract attention at a visceral level in a way that words cannot.

I searched the 3 graphics libraries for "go " and discovered that both [physarum](https://github.com/fogleman/physarum/search?q=%22go+%22) and [fauxgl](https://github.com/fogleman/fauxgl/search?q=%22go+%22) use goroutines. But `triangula` does not seem to use goroutines, so is

[2021-08-08 18:31] PXshadow commented on #67
@elliott5 Thank you for the feedback. Bluemonday looks very nice, I'd be happy to prioritize supporting it. If you'd like I'm interested in you expanding on what you mean with regards to "many other useful repurposing" also if you have any other suggestions for libraries to test initally feel free to post more. Also I agree with your sentiment on the compiler doing boring stuff reliably also being

[2021-08-08 20:32] elliott5 commented on #67
It might be best to ask potential users of `go2hx` to add to this thread and say what Go library they would like to use from Haxe. This would need an explanation and link from `readme.md`.

[2021-08-09 00:04] PXshadow commented on #67
Hey @sonygod I know you are looking for support with [jsonparser](http://github.com/buger/jsonparser) and [btree](github.com/tidwall/btree) is there any more libraries you would like to see support for in the short term?

@chloe_cdq I remeber you were doing Go -> Haxe -> C++ was there any libraries that you wanted to use as well from Go besides I except the standard library?

[2021-08-09 01:14] sonygod commented on #67
thank you @PXshadow ,what's stuatus of this project? here list want libs.

**base project**

[sqlite](https://github.com/mattn/go-sqlite3)

[mysql](https://github.com/go-sql-driver/mysql)

[websocket](https://github.com/gorilla/websocket)

[async ](https://github.com/Azure/go-asynctask)

**block chain project**

[swarm bee](https://github.com/ethersphere/bee)

[ipfs](https://github.com/ipfs/go-ipf

[2021-08-11 06:40] PXshadow commented on #67
Hey @sonygod thanks for the list! I see the article if I understand correctly translates the [awesome-go repo](https://github.com/avelino/awesome-go)

The quckist library from that list to get supported will probably be "mysql" the others use cgo and so are more long term.

As for the status of the project. No cgo support, no goroutines, no automatic translatation of the standard library yet. What

[2021-08-14 09:30] PXshadow opened #68 "Memory over consumption"
After about 100 tests are run via the TestRunner the program is holding at least 8 gigabytes of ram, some issue of not freeing resources is going on and has to be resolved in order to get the runner to go through the entire yaegi TestSuite in one go.

The current test runner works by spawning 4 go4hx (go portion of the compiler) processes and has them connect to a locally hosted tcp server, the se

[2021-08-14 15:17] elliott5 commented on #68
Glad to hear that the impressive-sounding testing infrastructure you are building is coming on so well that you have encountered this type of problem!

Does it have the same problem when it does not run in parallel? It is always best to get the code working sequentially first, then parallelise. I suggest you put a parameter in to control the number of parallel processing streams, check it all work

[2021-08-14 19:54] PXshadow commented on #68
@elliott5 Thanks for the help! Setting how many processes are in parallel at a time helps massively. I've narrowed down the issue using that approach to the rerunning of the go process and not having memory be freed for each consecutive run.

I chose a socket approach over json because it was the biggest limiter for the test runner as my hard drive would be at 100% write speed.

I know benchmarks

[2021-08-14 20:13] PXshadow commented on #68
Here is the data from [MemStats](https://pkg.go.dev/runtime#MemStats), printing at the end of each run (program does not close for a new compiler run in order to eliminate start up time):

[code]

[2021-08-14 21:33] PXshadow commented on #68
Issue with test, I should run the exact same test 50+ times and use that to see if memory is being freed, using a collection of tests messes up the results because the memory can fluctuate based on how big or small it is.

Also it seems that for certain tests the data gets passed to the Haxe side and then is not freed on the Haxe side, so I am now also getting mem stats for the hashlink gc.

[2021-08-15 04:43] PXshadow commented on #68
Found out the memory issue came from the type hasher not being cleared for each run... Yay! On the topic of memory though "net/http" takes up about 8.9 gigabytes of ram before then sending it to the Haxe side. For the moment net/http can be added to the excludes list, but it's probably a good idea in the future to send the package and even file data on demand, in order to not have such large buffe

[2021-08-15 05:29] elliott5 commented on #68
Well done for fixing the immediate issue, and for starting to recognise and find strategies for some longer-term issues too.

[2021-08-15 20:30] PXshadow opened #69 "Tooling"
- [ ] have a script that can go through the excluded go standard library and grabs the type info, so that when the compiler runs, it can get the type info of excluded parts of the standard library.
- [ ] get results of tests and add them to a results.json to then display them in a simple date plotted graph showing coverage overtime.
- [ ] [godoc](https://blog.golang.org/godoc) comment rules -> [ha

[2021-08-16 07:16] PXshadow opened #70 "Inefficent large slices/arrays init"
Refrenced from: https://github.com/gopherjs/gopherjs/issues/1007

go2hx is a little better in that it uses [array comprehension](https://haxe.org/manual/lf-array-comprehension.html)
however the running out of memory part is still a problem. Also for static targets the default values are the same as in go so no need to handle setting zero values.

[2021-08-17 07:30] PXshadow opened #71 "Use yaegi type extract system"
Yaegi autogenerates type information for the entire standard library [here](https://github.com/traefik/yaegi/tree/master/stdlib)
This info would be extremly useful to extract as well for go2hx for portions of the standard library that are not compiled such as runtime/reflect/os, This improvement is mostly a performance increase, as the current implementation works of just compiling the portion of

[2021-08-18 06:26] sonygod opened #72 "printf error on declare?"
[code]

haxe :4.2.3

go 1.16.5 windows/amd64

target: js

and target to hl also got wrong output

[code]

[2021-08-18 08:46] PXshadow commented on #72
Latest commit correctly handles the example code you've listed, if you run into anymore fmt formatter issues feel free to post more exanples.

[2021-08-19 02:15] sonygod commented on #72
after update ,

` characters 13-22 : Type not found : stdgo.Fmt`

I think you shoud gen s**tdgo.fmt.Fmt** instead of  **stdgo.Fm**t

[2021-08-19 02:22] sonygod commented on #72
target  hl

wrong output . should be 20818a220 but got �����ĵ�ַ: &10

[code]

[2021-08-19 07:26] elliott5 commented on #72
Excellent Unicode support is one of the key advantages of `go`, which is one reason why the language is so popular in China.

As a lifelong student of 中文 myself, I would be disappointed if `go2hx` did not also provide excellent support for this and other languages.

[2021-08-19 18:37] PXshadow opened #73 "Rest<T> arguments to become Slice<T> for type."
[code]
``
have: (haxe.Rest<...>) -> ...
want: (stdgo.Slice<...>) -> ...
``

abstract ``@:from`` for Rest -> Slice does not work, I'm not sure of a good way to represent the type.

[2021-08-19 19:16] PXshadow commented on #72
I agree go2hx should provide excellent support for unicode across all of its targets (The underlying support will come from Haxe targets though), I'm investigating the problem at the moment, It's odd because the [try.haxe example](https://try.haxe.org/#25187a39) works however this simple program here:
[code]
does not work for me on cmd or powershell on windows Haxe 4.2.3, Hashlink 1.11, and I have

[2021-08-19 19:20] PXshadow commented on #72
https://github.com/HaxeFoundation/haxe/issues/9638

[2021-08-19 19:56] PXshadow commented on #72
@sonygod try the unicode support now. Currently fmt will only support a small subset of the varbs (verbs not supported will act as if they are %v)

If anyone wants to improve support feel free to work on it and send a pull request the code is [here](https://github.com/go2hx/go2hx/blob/1c34d73e8858342f8c63b5d8861ca64253807334/stdgo/fmt/Fmt.hx#L60-L129), should be rather nice and painless to add mor

[2021-08-21 04:15] PXshadow commented on #32
The example goto code linked above is not a decent test case because no goto functionality gets the same result I have come to realize.

My current self made example is this:

[code]

here is the gopherjs generation for it:

[code]

I think the gopherjs one although it gets the result, is somehow way more complicated then the goto system.
I'm currently working on trying to achieve the result of ke

[2021-08-21 04:59] elliott5 commented on #73
Since `haxe.Rest` requires special Haxe compiler processing, it is not too surprising that abstract `@:from` does not work.

Presumably `haxe.Rest` is required in order to easily model the variadic function "`stdgo.fmt.Fmt.println`". Because it is part of the `go2hx` runtime, the conversion could be hand-written as the first part of the function.

In the general case (assuming code must be generat

[2021-08-21 05:07] elliott5 commented on #32
The code GopherJS generates is what I was expecting, with `$s` acting as the programme counter.

As discussed, although the generated code is ugly, I  know it works in the general case.

If you can find a way to generate this code more elegantly, using Haxe macros, that would be great!

[2021-08-22 06:50] PXshadow commented on #32
I think I've managed to figure out a decent approach how to do it, the one part I don't quite know about at the moment, is local variable scoping. When should a variable be outside of the main while loop, and when should it be within the case expr?

[2021-08-22 07:01] elliott5 commented on #32
Local scoping of variables is certainly an issue, as you suggest.

Any variable that is declared other than at the function level needs special handling:
- declared at the function level, but with an auto-generated name that reflects the block it is declared in; and
- re-initialised every time the block it is declared in is entered.

[2021-08-22 20:38] #73 closed

[2021-08-23 00:19] PXshadow commented on #32
Thanks for the insight, I think it's dealing with the variable declarations and assigning properly now, It passes the two goto tests for yaegi, feel free to try it out and see if you can find any short comings with it @elliott5

[2021-08-23 09:38] sonygod opened #74 "some of package name was wrong ."
`fmt.Println(math.Sin(n))`

will print

` stdgo.Fmt.println(stdgo.Math.sin(n));`

should be

` stdgo.Fmt.println(stdgo.math.Math.sin(n));`

and there are lot's package name should fixed

and time gen wrong code.

[code]

[2021-08-23 10:13] sonygod opened #75 "println pointer was wrong"
[code]

both target  node js and hl got same result.

[2021-08-23 16:47] PXshadow commented on #74
@sonygod I'm not able to reproduce try these commands and let me know if you get the same issue.

[code]

[code]
Should start go2hx in REPL mode with the line starting with ``>`` for the input line.

[code]
**output:**
stdgo.fmt.Fmt.println(stdgo.math.Math.sin((10.2 : GoFloat64)));

[2021-08-23 16:55] PXshadow commented on #75
All pointers are simulated at the moment so any display of pointer adresses will be asthetic instead of for functionality. With that in mind @sonygod @elliott5 any prefrences for pointer display.

Current ideas for, on pointer construction:
1.  generate a random address.
2.  count up for each pointer created.
3.  same as before.

[2021-08-23 17:39] elliott5 commented on #75
I think GopherJS also uses `0x0` when casting a pointer to `uintptr`.

It has the merit of being an obviously wrong value, that no-one will think can be validly compared to anything else.

To be a valid `uintptr` that could be used for comparison, every unique addressable entity (including fields in structures and elements in arrays) would need to be allocated a unique "address", and when a pointe

[2021-08-23 23:56] PXshadow commented on #75
Thanks for the insight that makes sense, ``unsafe.Pointer`` handling is later down the roadmap, and has an intersection with normal Pointers.

[2021-08-24 02:03] PXshadow commented on #75
To just note I'm changing the toString of pointer to be this now:

[code]

It allows structs/slices/maps/arrays to properly print, I don't care much to conform to showing the pointer adress value when it's a basic type, it can be done but I think this way, 1. shows an even more clear distinction for how go2hx operates pointers compared to go, and 2. the info of the value inside the pointer is bett

[2021-08-24 02:47] sonygod opened #76 "errors.New stdgo.AnyInterface should be stdgo.Pointer<command_line_arguments.ArgError>"
[code]

characters 32-59 : stdgo.AnyInterface should be stdgo.Pointer<command_line_arguments.ArgError>

[2021-08-24 02:52] sonygod commented on #74
https://github.com/go2hx/go2hx/blob/master/stdgo/time/Time.hx

package stdgo;

->

package stdgo.time

[2021-08-24 03:17] sonygod opened #77 "sort.IntsAreSorted error: stdgo.GoInt should be Int"
[code]

[code]

[2021-08-24 03:27] sonygod commented on #76
characters 64-66 : { _value : stdgo.Pointer<stdgo.os.File>, _err : stdgo.Error } has no field v0

[code]

[code]

[2021-08-24 03:44] sonygod opened #78 "support import short name"
[code]

[2021-08-24 03:50] sonygod opened #79 "some of std string function was not implement"
[code]

[2021-08-24 03:56] sonygod opened #80 "Type not found : stdgo.regexp.Regexp"
Type not found : stdgo.regexp.Regexp

[2021-08-24 05:49] #77 closed

[2021-08-24 05:52] #76 closed

[2021-08-24 05:54] PXshadow commented on #76
@sonygod these issues are very helpful thank you so much. The format of showing the source followed by the Haxe and then the error is really useful to quickly make the fixes.

[2021-08-24 06:12] elliott5 commented on #75
Obviously the `&pointedAtData` notation printing will not work for a self-referential `struct` (or set of related `struct` types) with non-null pointers, because of infinite recursion.

[2021-08-24 06:13] PXshadow opened #81 "Setup std Time"
``stdgo.Time.Time`` is currently not supported. The plan is for Time to be transpiled when referenced and then have the frontend implementation in Haxe with some function overriding. Following in the same spirit to how [gopherjs does it](https://github.com/gopherjs/gopherjs/blob/master/compiler/natives/src/time/time.go)

This task does not require touching the compiler at all and instead is a lot

[2021-08-24 06:15] #74 closed

[2021-08-24 06:27] sonygod opened #82 "json parse error"
[code]

[code]

error
[code]

[2021-08-24 06:39] sonygod commented on #79
p("Char:", "hello"[1])

still not work.

@PXshadow

[2021-08-24 06:53] sonygod opened #83 "strconv support"
[code]

[code]

[2021-08-24 07:08] sonygod opened #84 "package "io" ,"io/ioutil" support"
[code]

[code]

Main.hx:20: characters 82-84 : Void has no field v0

[2021-08-24 17:56] PXshadow commented on #79
@sonygod what result do you get? This is the test code I'm running.

[code]

[2021-08-24 19:21] #83 closed

[2021-08-24 19:23] PXshadow commented on #32
Closing this as the goto system seems to be working 🤞

[2021-08-24 19:23] #32 closed

[2021-08-25 06:34] sonygod commented on #79
[code]

[code]

[2021-08-29 05:17] PXshadow opened #85 "Robust/compliance > features/readability/scope"
### Working on the compiler I believe I've identified a few traps that have been fallen into, and how to get out and keep moving.

1. Features, having a wide range of support for parts of the compiler all over the place, because they are developed in a scattered way, the result is that the code is scattered to, rebuilding core components over and over and making it hard to fix parts of the system

[2021-08-30 08:08] elliott5 commented on #85
These are all good strategies @PXshadow, but I'm currently too unfamiliar with the code to comment on the details.

[2021-08-30 17:42] PXshadow commented on #85
Ah no worries I'll read some of the go style guides.

[2021-09-02 00:28] PXshadow opened #86 "Constant to big of number"
[code]

No system in place to handle large numbers over int64 for constant.

[2021-09-02 10:41] elliott5 commented on #86
Go itself probably uses https://pkg.go.dev/math/big to achieve this.

[2021-09-02 15:11] elliott5 commented on #86
Could the Go part of `go2hx` use the `math/big` package to resolve the values of `const` declarations (including those in expressions); then pass those const values over to the Haxe part of `go2hx` in 3 forms `complex128` (includes `float64`), `uint64` and `int64`.

[2021-09-02 17:45] PXshadow commented on #86
@elliott5 Yes to the first part with [Int.SetInt](https://pkg.go.dev/math/big#Int.SetString), the second part I don't understand the 3 forms system, is it in order to become any type on the Haxe side of go2hx? Should be possible to know the type on the go side, since that's where the information comes from for the Haxe end.

[2021-09-02 19:03] elliott5 commented on #86
Sometimes a constant can be declared globally, then used in assignments to multiple different types. That was why I suggested the 3 forms approach.

[2021-09-02 22:14] PXshadow commented on #86
Ah I didn't know that was possible thanks for the info. I'll use the 3 form approach then, not quite sure how it will work in practice now, but I'm sure it can be figured out.

[2021-09-04 19:39] PXshadow commented on #79
Update to latest version this is the Haxe output now:

[code]

[2021-09-04 19:39] #79 closed

[2021-09-04 19:40] PXshadow commented on #78
This should be supported now.

[2021-09-04 19:40] #78 closed

[2021-09-08 01:17] PXshadow opened #87 "Update binaries if new commit"
Hey @sonygod I believe the issue with not thinking std strings package was updated https://github.com/go2hx/go2hx/issues/79 was because the binaries were not being updated when doing the command:
[code]
The latest commit should fix that issue, any feedback with this feature is helpful, and if there's any other rough areas around using the compiler feel free to address them here.

@elliott5 if you'

[2021-09-08 03:31] PXshadow opened #88 "multi file packages"
go's files at compile time esentially don't exist and instead are grouped together into a single package file. In order to replicate the style rather then the functionality.

 I implemented an ``imports.hx`` system and PkgName global name space that would declare types, unfourtantly this doesn't really work without the global name space being in a seperate package because Haxe does not allow redef

[2021-09-08 07:45] elliott5 commented on #88
Simple is best. So merging all the generated code from a Go package into a single Haxe file is the right way forward I think.

If you could annotate the generated Haxe code with comments giving the original Go file it was generated from, that would be helpful for the reader.

[2021-09-08 20:02] PXshadow commented on #88
@elliott5 good idea, I believe I hid the generation of the original go code as a comment behind a flag to enable. Do you think it should be enabled by default? I chose against it at the time because it made it very hard to read through packages with large function bodies.

[2021-09-08 20:04] #88 closed

[2021-09-11 17:47] PXshadow commented on #53
Took a look at the progress of gettings py2many's go tests passing today, and it is currently blocked until go routines and the select statement are supported. It seems [go-iter](https://github.com/hgfischer/go-iter) and [go-cmp](https://github.com/google/go-cmp) use go routines.

[2021-09-11 17:48] PXshadow commented on #85
I'm happy with this for now.

[2021-09-11 17:48] #85 closed

[2021-09-11 17:48] PXshadow commented on #87
This is integrated and no problems have been found with it thus far.

[2021-09-11 17:48] #87 closed

[2021-09-21 20:19] PXshadow commented on #26
Been looking at uint32 and uint64 support again. I tried to figure out how [int64 works in Haxe](https://github.com/HaxeFoundation/haxe/blob/4.2.1/std/haxe/Int64.hx) I have a little bit better of a grasp but I'm currently pretty weak on bit operations and can't figure out how to correctly modify int64 to become uint64, any advice or help would be very useful. cc @elliott5

[2021-09-22 06:41] PXshadow opened #89 "systematically testing std packages"
At the moment I'm unable to run ``go test math`` for instance, I'm pretty sure I was able to in the past however I don't know what setup of go is required to properly be able to test the standard library the current error being ran into is no test files being found, and if cding into the math src folder ``cpu_test.go:8:2: use of internal package internal/cpu not allowed`` relating to [internal dir

[2021-09-22 13:25] elliott5 commented on #26
I think these posts I made on the topic of `uint64` should give you a starting point: https://github.com/go2hx/go2hx/issues/26#issuecomment-808882068

Let me know if you need more.

[2021-09-23 13:58] PXshadow commented on #89
Working now, go install needs to be bootstrapped in order to be able to run ``go test math`` at least for linux/amd64.

[2021-09-23 14:48] elliott5 commented on #89
Well done for sorting this out yourself @PXshadow, an esoteric problem if ever there was one!

[2021-09-23 20:18] PXshadow commented on #89
Thanks for the encouragement @elliott5 , yes indeed it is quite the esoteric problem, with this out of the way I'm now working on priority number 1 of getting std to pass. I'll leave the issue open as I need to test against a few more operating systems when a github action workflow is setup.

[2021-10-01 05:07] PXshadow commented on #68
No longer an issue.

[2021-10-01 05:07] #68 closed

[2021-10-01 06:47] elliott5 commented on #26
Excellent news overall @PXshadow.

Although the `Haxe/cpp` code shows that `UInt8/16/32/64` as all abstracts over `int`, maybe the generated code does use the [correct underlying types](https://en.cppreference.com/w/cpp/types/integer), testing would be required to determine this.

[2021-10-28 16:20] PXshadow opened #90 "Number shr incorrect result"
[code]
* Go: 2147483647
* Haxe: -1

[code]

* Go: 9223372036854775807
* Haxe: -1

[2021-11-04 10:55] PXshadow opened #91 "Cache std library building into go2hx stdgo package"
At the moment a majority of the compile time is spent rebuilding packages that have already been built before. With the new Go interface changes coming soon (therefore no need to set implements in the std for gen code). The standard library can be generated by the compiler and then added into stdgo.

The major question now however is where should the injection classes be as they are currently loca

[2021-11-04 12:19] elliott5 commented on #91
That sounds like sensible Go-like naming.

[2021-12-29 02:00] sonygod opened #92 "Question: will go2hx support *.d.ts?"
question: will go2hx support *.d.ts? or support haxe extern?

that's may be fun if go2hx support *.d.ts to compile js.

[2021-12-29 11:19] PXshadow commented on #92
Hey @sonygod go2hx will not support *.d.ts , I want to improve *.d.ts support for Haxe and I will do that through contributing to dts2hx.

As for Haxe externs go2hx could support generating Go externs to link to Haxe as well as Haxe code.

It should be possible to use both dts2hx and go2hx on the javascript target once it has more testing.

If I'm missing anything from the question let me know.

[2021-12-29 14:04] sonygod commented on #92
thank you for your reply .no more questions are current.

[2021-12-29 14:04] #92 closed

[2022-03-17 07:30] #91 closed

[2022-03-17 07:30] PXshadow commented on #90
Have std math, and math/bits passing I'm sure this is good now 😄

[2022-03-17 07:30] #90 closed

[2022-03-17 07:32] PXshadow commented on #86
Last approach needed is a way to construct big number equivalents on the Haxe side, which is blocked until std math/big passes tests.

[2022-03-17 07:33] PXshadow commented on #81
This is now working minus time zone specific details.

[2022-03-17 07:33] #81 closed

[2022-03-17 07:35] PXshadow commented on #75
Will change this to be 0x1 for set pointers, and ``&pointedAtData`` will be cleaned up with having go2hx compile fmt.

[2022-03-17 07:37] PXshadow commented on #71
Not really needed, added complexity for minimal gains.

[2022-03-17 07:37] #71 closed

[2022-03-17 07:39] PXshadow commented on #62
Works now via macro magic!

[2022-03-17 07:39] #62 closed

[2022-03-17 07:41] PXshadow commented on #61
Uses static_extension wrapper and main class to correctly simulate go behavior for methods, go2hx reflection should be able to call fields easily by class method look ups in the correct function type support.

[2022-03-17 07:41] #61 closed

[2022-03-17 07:46] PXshadow commented on #72
Std Fmt will be compiled by go2hx in the future, as such no more help is required for a hand written implementation.

[2022-03-17 07:47] PXshadow commented on #57
All of these tasks are now implemented minus the address system, however it's aesthetics, and a separate issue covers it #75 .

[2022-03-17 07:47] #57 closed

[2022-03-17 07:48] PXshadow commented on #43
implemented :)

[2022-03-17 07:48] #43 closed

[2022-03-17 07:48] #56 closed

[2022-03-17 07:50] PXshadow commented on #53
Primitive go routine, select and channel support is now implemented will look into supporting both of the support libraries pymany uses for go.

[2022-03-17 07:51] PXshadow commented on #39
This is now clearly working haha

[2022-03-17 07:51] #39 closed

[2022-03-17 07:52] PXshadow commented on #37
Confirmed working with the passing of multiple std math tests that check correct implementation of NaN

[2022-03-17 07:52] #37 closed

[2022-03-17 07:53] PXshadow commented on #31
Confirmed implemented as multiple std Math tests are now passing.

[2022-03-17 07:53] #31 closed

[2022-03-17 07:55] PXshadow commented on #26
Multiple std math pkg tests are now passing. A new issue can be created for using native number types for hxcpp for instance.

[2022-03-17 07:55] #26 closed

[2022-03-17 07:56] PXshadow commented on #21
Supported!

[2022-03-17 07:56] #21 closed

[2022-03-17 08:16] PXshadow opened #93 "Go Generics 1.18"
Last missing Language feature!

The feature adds 2 new Go types:

* TypeParam: name:String and constraint:Type
* Union:  tidle:Bool (I don't know what this does) and type:Type

Haxe does not support Unions, and does not have constraints for binary operators, field access etc.

The best approach as far as I'm aware would be to send in pull requests to the Haxe compiler for new constraints such as [

[2022-03-18 02:30] PXshadow opened #94 "Implicit Numerical conversions only when data is not lost"
Auto cast up numerical types for example: int8 + int32 becomes int32 + int32. The idea comes from @haxiomic who also notes
"The compiler will error if you try to do an lossy operation"

This should be much nicer when working with the stdgo numerical types on the Haxe side.

[2022-03-19 16:19] elliott5 commented on #93
I've not used Go generics yet, so I'm on the edge of my knowledge.

On the face of it, the two generic systems (Go & Haxe) seem quite similar. As you say, the differences seem to be in how they define what constrains there are on the instantiated types.

`go2hx` does not need to police the Go rules on type constraints - if a Go program does not compile, it is not valid input to `go2hx`!

All `go2h

[2022-03-19 16:28] elliott5 commented on #94
The accuracy required also depends on where the result of the calculation is being put.

For example if the result of int8 + int32 is to be stored in an int64, then the whole calculation needs to take place using int64. If int32 were to be used, the result would be inaccurate when sum of the two values overflowed the int32 range.

[2022-03-19 18:22] PXshadow commented on #93
Here is something tricky I didn't expect, T doesn't return type union of the compile type but rather the type at runtime.

[code]
[code]

Therefore it's most likely best to overload the function for every type in the union, because as you said go2hx should only care about valid go input code.

[2022-03-19 18:30] PXshadow commented on #94
Wouldn't that make it impossible then to have a smaller number overflow in a bigger number because the compiler would look through all of the chains of assignment and make very large numbers (or I guess you could have the compiler only look as far as a single assignment)? It seems to me that int64 = int8 + int32 -> int64 = int32 + int32 makes more sense then int64 = int64 + int64 conversion becaus

[2022-03-20 09:50] elliott5 commented on #94
Yes, you are right @PXshadow, this is why Go always requires explicit type conversions.

[2022-03-20 10:03] elliott5 commented on #93
I think code generation of overloaded functions (with all the combinations of types) would be a perfectly valid way to provide this functionality.

[2022-04-03 07:44] PXshadow commented on #64
I think no focus should be put to changing the code structure until the compiler gets bootstrapped, language feature spec compliance is almost done and most of the work work will be standard library tweaking.

Structure change ideas:

Typer.hx at the moment is about 5k lines, it should be broken up in the future by decls,statements,exprs,type system,analysis,general utils,features (example //#go2h

[2022-04-03 09:10] PXshadow opened #95 "Get rid of toBasic() std numbers"
It's everywhere, and all methods on numbers need to go to avoid name conflict unless styled such as __name__. I'll work on getting the standard library automated using Github actions and use it to incrementally begin removing toBasic with an alternative.
For the alternative I'm leaning towards simply allowing implicit casting between number types like in Haxe.

[2022-04-03 09:14] PXshadow commented on #93
I'm sitting on 98 pending changes for the compiler, the rabbit hole is very real.... anyways, overloads are preferable but currently are restricted to only working with inline functions, which means unoptimized  local functions and the same body code being generated x amount of times depending on the type union. I think a mix is preferable, and will switch over to having the macro based approach u

[2022-04-03 09:36] elliott5 commented on #93
The Haxe compilation process should do dead code elimination to remove unused method functions from the final binary.

[2022-04-03 16:58] PXshadow commented on #93
Yes, I mean for the Haxe source code, if the type union had 12 types in it, and the function body had 1k lines it would be 12k lines of code. Perhaps it would still make sense though, I just wish there was a way to share the overload bodies outside of a macro context.

[2022-04-10 01:13] PXshadow opened #96 "math/bits passes test but example not the same"
[code]
Haxe: ``3 0``
Go: ``2 0``

Compiled code:
[code]

[2022-04-10 01:23] PXshadow opened #97 "Haxe compiler hanging on compilation of generated code"
When any field/type is used of math/big at the moment, for compiled Haxe code the compiler hangs. Using the ``--verbose`` flag the last typing is ``Typing stdgo.math.big._Big.Big_Fields_._karatsubaSqr``

It's not very practical to look through the entire function without any specifics from the compiler of where exactly the compiler is looping/stopped etc and other information.

[code]

Any help wo

[2022-04-10 07:56] elliott5 commented on #97
A serious problem, clearly, hitting some internal Haxe limitation. Is there some internal Haxe error code you could view?

The obvious thing would be to reduce the complexity of the generated code in some way, does turning off in-lining improve the situation?

[2022-04-10 08:11] elliott5 commented on #96
This Go2hx "undefined" result is technically correct!

[code]

Try: `println(bits.Add64(2, 1, 0))` -> Go result: `3 0`

[2022-04-10 17:48] PXshadow commented on #97
@elliott5 potentially but I think it would require me to build the Haxe compiler from source which is what I plan to do, since I agree it is a serious problem.

Reducing the complexity of the generated code is a good idea, there is some ways to make the situation much better, but I'm hesitant in case it doesn't change the hanging outcome, I'll try it though, and I'm not sure what in-lining you are

[2022-04-10 19:08] elliott5 commented on #97
If rebuilding the Haxe compiler from source gives better error indications, it may be worth it.

Yes, the nil/null checks are what stand out as repeated code ... but I appreciate it may not be easy to replace the approach without significant re-writing.

But...
What does the following line in the generated code achieve? The result does not seem to be assigned.
[code]
The matching Go code it was ge

[2022-04-10 20:20] PXshadow commented on #96
Oh sweet thanks for looking, next time I'll look at it more thoroughly and check the comment of the function. Nice to see undefined behavior nicely documented.

[code]
[code]
\

``Haxe result: 3 0``

[2022-04-10 20:20] #96 closed

[2022-04-10 20:22] PXshadow commented on #97
@elliott5 Oh yes it is! Nice catch, oh shoot 😓 I must have removed it as I thought it was a value copy rather then a slice copy. I'll revert back the Go.copy macro function and rename it to avoid confusion as I had for it, thanks!

[2022-04-10 20:41] PXshadow commented on #97
Still hanging unfortunately after change, but a great change none the less.

[2022-04-15 10:48] PXshadow opened #98 "Suffix "_test" for package vs name for testing"
Files can be incorporated into the compile build packages when the test flag is triggered.

The issue is the ``_test`` suffix for files is built in such a way that it is included into the library package and that causes issues for std library tests because the standard library is not being generated with the ``-test`` flag in mind, and would be preferred for it to be generated as a separate entity

[2022-04-15 17:20] elliott5 commented on #98
How about generating every library including the `_test.go` files, but with the generated code from those `_test.go` files subject to [Haxe Conditional Compilation](https://haxe.org/manual/lf-condition-compilation.html), say using a `-D GOTEST` flag.

That approach should have no effect on ordinary library use, but allow tests to be run simply by creating a Haxe test-runner program that calls each

[2022-04-15 17:27] PXshadow opened #99 "Error: std@put_env at end of each compile"
I can't catch where this is coming from yet but each compile run the last line before exit is ```Error: std@put_env```

[2022-04-15 17:37] PXshadow commented on #98
Amazing idea thank you @elliott5 I'll need to build a system to extract and separate out the test package before merging but I really like the idea, I'll begin work on it now.

[2022-04-15 19:21] elliott5 commented on #99
There only seem to be 3 places in the Haxe compiler where an `Error: `+? message can be generated,
all in `compiler.ml` lines: [358](https://github.com/HaxeFoundation/haxe/blob/development/src/compiler/compiler.ml#L358), 360 & 597.

The `std@put_env` string appears in Neko - https://github.com/HaxeFoundation/haxe/blob/development/src/compiler/compiler.ml#L358

[2022-04-16 15:39] elliott5 commented on #99
@PXshadow links above corrected.

[2022-04-19 15:27] elliott5 commented on #98
I was expecting to see a `sort` and a `sort_test` package, but not one called `sort.test`.

I notice that `sort_test.go` includes an `import . "sort"` statement - https://cs.opensource.google/go/go/+/refs/tags/go1.18.1:src/sort/sort_test.go;l=12

Could this be the origin of the mysterious `sort.test` package?

[2022-04-19 15:29] elliott5 commented on #98
See https://go.dev/ref/spec#Import_declarations for what the `.` means in the import.

[2022-04-20 15:25] PXshadow commented on #98
Figured out the test package naming, should be resolved now.

[2022-04-20 15:25] #98 closed

[2022-04-20 15:28] PXshadow commented on #93
No issue at the moment with the generic implementation.

[2022-04-20 15:28] #93 closed

[2022-04-24 19:46] tobil4sk commented on #99
This was an issue with nightly haxelib being incompatible with non-nightly neko, should have been fixed now.

[2022-04-26 15:19] PXshadow opened #100 "Very invalid type Rec ***Rec"
``src/encoding/gob/codec_test.go``
[code]
It compiles Go code:
[code]
to Haxe code:
[code]

Biggest issue I see is that I can't find any other type ``Rec`` in the package, perhaps this is supposed to error for the compiler?

[2022-04-26 16:58] PXshadow commented on #99
Thanks for the info @tobil4sk !

[2022-04-26 16:58] #99 closed

[2022-04-26 17:56] elliott5 commented on #100
So a `type` which is a pointer to a pointer to a pointer to that same `type` is valid Go ... although not at all useful, and perhaps even a logical impossibility!

The interesting part above, is how `err := NewEncoder(b).Encode(&rec)` returns an error to declare it `recursive` at runtime ... presumably by using the `reflect` package.

[2022-04-26 18:11] PXshadow commented on #100
The logical impossibility part is driving me a little mad 😅 , So... how would you advise we proceed @elliott5 ?

[2022-04-26 18:39] elliott5 commented on #100
If you declare a Go `type` inside a function, its scope is local to that function - so any `Rec` type outside of `TestBadRecursiveType()` could not refer to a `type` declared within it.

There is nothing to do here except to carry on with running Go's tests...

The key problem I can see is that the Haxe
[code]
may not adequately model the Go
[code]
as the three levels of indirection don't seem to

[2022-04-27 05:54] elliott5 commented on #100
`reflect` needs Go type information at runtime in order to work.
`go2hx` must decide how to model the storage of that Go type information.
But since a Go type is an interface definition - https://pkg.go.dev/reflect#Type - there are many options for achieving this, not just the "wrapper" approach I described above.

[2022-04-27 08:05] elliott5 commented on #100
Haxe (metadata)[https://haxe.org/manual/lf-metadata.html] is a candidate method of storing the Go type information.

[2022-04-27 08:37] PXshadow commented on #100
At the moment I get the Go type information from the compile type info using macros, however pointer info is not accessible yet for non basic types.

Perhaps I can make a new typedef called ``PointerAlias<T>`` and simply have it be:
[code]
That way there is no runtime performance hit but the macros at compile time know that the type is a pointer for reflection type info?

I could also have it so e

[2022-04-27 08:55] PXshadow commented on #100
Yes indeed I have the ``Go.toInterface`` that does that, looking now at the implementation the only issue counting the alias approach is I wouldn't count it inside of struct fields, perhaps I should use the ``PointerAlias`` approach for struct fields?

[2022-04-27 15:03] elliott5 commented on #100
Certainly consistency is generally best, special cases usually cause problems at some point.

Remember that `Go.toInterface` must work for every addressable Go location and must pass all the information required to answer all of the (relevant) methods of the `reflect.Type` interface definition.

[2022-05-02 14:50] PXshadow opened #101 "Generic for named type"
[code]

Needs to be supported however the same restrictions that caused all generic functions to become macro functions also applies to a type generic. The main issues being T being a type union of number types with operator overloads makes it not possible to have the underlying type haxe.Int64 or Int or haxe.UInt64. Working on a way to support this if no more sophisticated way can be found I'll j

[2022-05-02 15:57] elliott5 commented on #101
Presumably `T any` could also include any user-defined or Go-standard-package-defined types too, in addition to the Go built-in types.

That is a very long list indeed, that could only be known after all of the packages comprising a program had been compiled together and a combined list generated.

This would mean that all of the Go packages required in a go2hx library for Haxe would need to be tr

[2022-05-03 05:52] ShaharMS commented on #101
For once, i think i have a viable idea:

You can have a file named `TCombos.hx` at `src/_internal` (to hide it from intellisense), which is going to contains all of the needed abstract definitions:

Lets say you need a generic of type Float, Int and Int64, or any 3 types, you add this to `TCombos.hx`
[code]
Then, wherever you need an input of one of those 3 types, you can do:

[code]

**NOTICE** -

[2022-05-03 10:34] PXshadow commented on #101
Also I just noticed I'm pretty sure the T generic with the OneOfThree constraint type is redundant, since whatever T is can always be replaced with ``OneOfThree<Int, Int64, Float>``
[code]

[2022-05-04 09:21] PXshadow opened #102 "Documentation efforts"
I think the wiki pages should be removed and the content moved to the go2hx github site.
The reasoning is the wiki is obscure in terms of looking through the project, having the documentation be on the website makes it more seamless, and also more friendly on mobile.

Nice looking graphs and charts are huge QOL features and should be prioritized more, charts/graphs could include:
* passing std pkg

[2022-05-04 09:37] PXshadow opened #103 "Js target"
How should go2hx proceed in the future with potentially supporting the Js target (including [hxnodejs](https://github.com/HaxeFoundation/hxnodejs) support) with the missing native support of many sys thread systems such as Mutexs/Locks/Threads?

It's completely possible to support but it would require lots of Js only support code in place to just support a subset of Go language features such as go

[2022-05-04 10:50] elliott5 commented on #102
My advice is to concentrate on documentation that can be auto-generated, especially graphs (as you suggest).

Keeping documentation up-to-date is very difficult long-term, which is why sensible solutions, from both Haxe and Go, revolve around surfacing the code comments as documentation.

[2022-05-04 12:57] PXshadow commented on #102
Thank you for the great advice @elliott5 !
Plugging into the go docs and auto generating the standard library would be superb for working with the generated code, even if the go doc changes would be minor from the go version to the Haxe version keeping them precise with Haxe specific info would be a real benefit. Maybe performance info if possible could also be included into the go2hx generated go

[2022-05-04 12:58] PXshadow commented on #103
Great idea, and I completely agree those targets will now be the supported go2hx targets until first release.

[2022-05-04 16:52] elliott5 commented on #102
What version of a Go package to build is determined by both "build tags" and "file suffixes" ( see https://dave.cheney.net/2013/10/12/how-to-use-conditional-compilation-with-the-go-build-tool ), I'm not sure how `go2hx` handles these at the moment.

`go2hx` will probably need to choose one of these Go targets as the basis of all of its code generation, most likely the one that best fits with the H

[2022-05-04 17:04] PXshadow commented on #102
@elliott5 yeah you're right it would be preferable to use [dox](https://github.com/HaxeFoundation/dox) I'd need to send in some pull requests to support features such as images and additional special comments for performance stats.

The go target I think is best to use for code generation purposes is wasm/js because it doesn't have any assembly code.

The current build tags go2hx uses are these:
[

[2022-05-04 17:57] elliott5 commented on #102
Yes @PXshadow the wasm/js target is good because it does not have any assembly code to deal with. But it is bad because it does not have any file (or network) IO either, with dummy functions where they should be. Work will be required to overload these as the project develops, if file (or network) access is required later. However, I don't think that fulsome IO is required for the project to deliv

[2022-05-04 18:38] elliott5 commented on #102
I agree @PXshadow, no Go target OS easily maps to the Haxe `System API`.

[2022-05-09 14:26] PXshadow commented on #101
[code]

``Cannot add _m.T and _m.T``

However this version does work without ``T`` , ``T`` is needed though for Macro Type inspection of the generic at compile time.

[code]

@haxiomic do you have any ideas about why the T type in the first example doesn't use the add op function?

[2022-05-09 14:43] PXshadow commented on #101
Also another issue is Generic types of a Union needing a default type somehow even though it could potentially be any of the types of the Union.

[2022-05-09 18:52] elliott5 commented on #101
That the Haxe compiler's generation of instantiated code from generic functions does not know how to add two values together using the instantiated type is a severe limitation.

[2022-05-09 21:09] PXshadow commented on #101
Yes indeed @elliott5 it's quite frustrating, generics may be the least supported aspect compared to Golang that go2hx should have 1st class support for.

Perhaps yor initial idea of just generating all potential generic types might be right after all, the limitations are very hard to get around with still using generics though I will try to explore the option a little longer.

[2022-05-11 13:40] elliott5 commented on #101
The options for implementing Go generics in go2hx would seem to be:

1. Use Haxe generics ... but as the discussion above demonstrates, this is difficult to achieve because of the mis-match between the two language models;
2. Use brute force expansion to generate specific code for every possible Go type that could use the generic ... but this requires a two-pass approach (the first to gather all t

[2022-05-15 16:13] PXshadow commented on #101
* Go Generic function = Macro function
* Go Generic type = Haxe Generic type
* Go Generic recv function = [Static extension + Macro function](https://haxe.org/manual/macro-limitations-static-extension.html)

To fix Haxe generic type having null generic type fields, I have it so that when the struct type gets created if it has type params / is a generic type, it will set all struct fields to the de

[2022-05-15 16:46] elliott5 commented on #101
I'm delighted you have found a way forward with this @PXshadow - well done!

[2022-05-23 21:00] PXshadow commented on #101
So much macro writing.....

This is the current issue:
``Field index for _add not found on prototype github_com.go2hx.go4hx.rnd.L_static_extension``

It involves referencing a static extension macro but it doesn't exist at compile time and possibly runtime.

[2022-05-24 04:13] elliott5 commented on #101
Wow @PXshadow, your solution has come a long way!

Does this issue occur when a generic method contains `A + B` but their type is unknown? If so, one approach would be to automatically create methods for all Go types for all Go infix operators (like "+"). Then rely on Haxe DCE to remove them after compilation.

Otherwise, you will need to explain further ;)

[2022-05-24 06:55] PXshadow commented on #101
Actions speak louder then words, very pleased with a first draft now committed @elliott5  I wrote up what's still missing in the commit and I hope it's clear enough to see the current state of this.

As for the issue it occurs because of the strange limbo state of static extension (or Go receiver function) macro functions.

The function exists at compile time to utilize adding methods to any type

[2022-05-24 06:55] #103 closed

[2022-05-24 06:56] #100 closed

[2022-05-25 10:16] elliott5 commented on #101
Well done for committing a first draft @PXshadow.

If I have understood correctly, because go2hx is using Haxe macros to implement the methods (receiver functions) of a Go generic type, that code must be generated at compile time.

Thus when a Go generic type is instantiated, all of its methods must also be created. We'll need all of them because if the instance is passed as a Go `interface` any o

[2022-05-28 16:04] PXshadow commented on #101
@elliott5 Yes you are correct. Basically macro functions must be called straight away so in order to have the Haxe compiler not complain.

There is a Haxe compiler issue holding back the 2nd draft from fully working, hopefully it will be addressed soon https://github.com/HaxeFoundation/haxe/issues/10716

[2022-05-29 05:43] elliott5 commented on #101
As it may take some time for the Haxe compiler team to resolve this issue @PXshadow, is there some naming convention you could adopt that would make the issue less likely to occur?

[2022-05-30 02:00] PXshadow commented on #101
@elliott5 yes even better I could check for name conflicts and then simply make those functions non modular and instead in a class, shouldn't anything functionality wise, only slightly less good looking syntax output.

[2022-05-30 10:31] elliott5 commented on #101
I see @Simn has already fixed https://github.com/HaxeFoundation/haxe/issues/10716 ... thank you Simon, the Haxe foundation is very lucky to employ you!

[2022-06-01 06:07] elliott5 opened #104 "interp target does not work for trivial program using front page instructions"
[code]

I don't think `interp` should even be an option now.

[2022-06-01 06:23] elliott5 commented on #104
`HL` target has same error, but takes longer to get there (using additional undocumented step of `haxe build.hxml`):

[code]

Line 147 seems to be:
[code]

Sadly, I have no time to investigate further now.

[2022-06-01 07:22] elliott5 commented on #104
Not using Haxe nightly, using latest release 4.2.5.

Trivial Go program:
[code]

[2022-06-01 08:29] elliott5 commented on #104
go2hx version `7b0eca79905425c83d61733933d4d870b0cb2488`

[2022-06-01 14:54] PXshadow commented on #104
@elliott5 Sorry I forgot to push Reflect changes try now?

[2022-06-01 17:53] elliott5 commented on #104
Working!

[code]

Just the non-fatal `FATAL ERROR` to mar my joy!

...and removal of reference to the `interp` target on the front page.

[2022-06-03 00:49] PXshadow commented on #104
@elliott5 I can't replicate but I did find I was not passing the args for the interp/eval target. It should be fixed now if you could test again, hopefully it should work *triple fingers cross* .

[2022-06-03 05:29] elliott5 commented on #104
The very latest Haxe nightly (I used [haxe_2022-06-02_efield_pos_d90361e.tar.gz](https://build.haxe.org/builds/haxe/mac-installer/haxe_2022-06-02_efield_pos_d90361e.tar.gz)) is required for `go2hx` code to execute without a Haxe error, so the front-page instructions need to say that.

Unfortunately when I do successfully execute the code, it still produces an error message but no output:
[code]

I

[2022-06-03 06:30] elliott5 commented on #104
@PXshadow - upgraded `HL` to version 1.12 (from 1.11), now working :)
[code]

[2022-06-03 06:33] elliott5 commented on #104
So running the '--interp' version of 'go2hx' does require the correct `hl` version to be installed!

[2022-06-03 06:59] PXshadow commented on #104
``Run.hx`` checks to see if hashlink is available if so it by [default runs](https://github.com/go2hx/go2hx/blob/master/Run.hx#L61) hashlink instead of interp.

Thank you for looking into the issue! I'll add notes about the Haxe version and needing Hashlink version 1.12.

When the go2hx compiler sees --interp or any equivlant target flag it passes that flag onto the Haxe compiler after the code is

[2022-06-03 17:13] elliott5 opened #105 "GoByExample automated testing results"
[code]

24/80 = 30% successful execution

[2022-06-03 18:06] PXshadow commented on #105
Interesting I'll check the tests that fail this is helpful thank you @elliott5 if you have a decent automated script to run gobyexample, I'd happy to integrate it into the automated test running.

[2022-06-04 05:03] elliott5 commented on #105
I'll see what I can do to check for correctness, then try and put it into a form that you could add to the automated testing process @PXshadow.

There may be some of these examples that `go2hx` will never be able to run, but I have not identified any yet.

[2022-06-04 05:55] elliott5 commented on #105
Correctness results:
[code]

Once `fmt` uses the go library, I would expect more output to match exactly.

Next job is to engineer this into a more general solution.

[2022-06-06 10:11] #105 closed

[2022-06-06 10:51] elliott5 opened #106 "gobyexample methods.go rogue '.'"
Code generated for methods.go has a rogue leading '.' character.

Methods.hx line 11:
[code]
Should be:
[code]

Gives correct results with the '.' removed.

[2022-06-06 13:12] elliott5 opened #107 "generated build.hxml file no longer contains target information"
Error:
[code]

Adding a line at the end of the `build.hxml` that is either `--interp` or `-hl run.hl` fixes the issue.

[2022-06-06 14:45] elliott5 commented on #107
Problem example...
[code]

[2022-06-06 15:43] PXshadow commented on #106
How did you get the dot @elliott5 ? I can't seem to replicate. I through methods.go into rnd and I can't get the dot generation.

[2022-06-06 15:56] elliott5 commented on #106
I'm using the latest versions of both `haxe` (nightly) and `go2hx` (dd134778ccd2d37c0bb45c40eed607cb00831c68).

[code]

[2022-06-06 16:23] #107 closed

[2022-06-06 16:33] #106 closed

[2022-06-08 07:02] elliott5 opened #108 "gobyexample interfaces.go surplus code in generated methods"
I don't understand what purpose the first line of generated Haxe code for each Go method has:
[code]

[2022-06-08 08:51] elliott5 opened #109 "gobyexample interfaces.go calls to methods do not work"
The current interface implementation does not properly simulate the look-up required to implement Go methods (in the general case) so I have rewritten it to provide a model implementation:
[code]

Interface invocations must be of the right type:
[code]

I will send full details to @PXshadow by email.

[2022-06-08 18:59] elliott5 opened #110 "Go strings initialising []byte constants do not use escape sequences - blocking the regexp package"
This problem identified by testing https://gobyexample.com/regular-expressions.

The Go library code at https://cs.opensource.google/go/go/+/refs/tags/go1.18.3:src/regexp/regexp.go;l=718
[code]
is transpiled into Haxe by go2hx as
[code]
this in turn generates the Haxe compiler error:
[code]

Although I cannot find it in the Go spec, it seems from this library example that a []byte initiation strin

[2022-06-08 20:25] elliott5 opened #111 "interp target initialises variables to null"
Discovered testing https://gobyexample.com/channels, but applies to other channel tests too.

Channel length not initialised to null for `interp` target, but to zero for `hl` target, at https://github.com/go2hx/go2hx/blob/7b10b54d21b92e153245f70192908d0265771556/stdgo/Chan.hx#L141

Test works correctly for `hl` target, but fails for `interp` target with runtime error:
[code]

My suggestion is to r

[2022-06-08 21:35] elliott5 commented on #111
...or, alternatively, use the 'interp' target as a way to catch when variables have not been explicitly initialised to zero, which the Go spec says they should be (otherwise they might contain random data).

[2022-06-08 22:23] PXshadow commented on #111
@elliott5 I appreciate your honesty, I agree interp is not a production level target, however I think without networking requirements at the moment it's the easiest dynamic sys target to support [nullability](https://haxe.org/manual/types-nullability.html) requirement to be consistent requires all numbers to be initialized with 0, it's best practice in Haxe and should have been done for this.

[2022-06-08 22:38] PXshadow commented on #108
Legacy code when methods could be included into the Class of struct types. Thanks for the find!

[2022-06-08 22:52] PXshadow commented on #110
If I compile that code in isolation I get the correct result:

[code]

However when I run the regex gobyexample I get the same issue, so something is messing up the cache for generation I will investigate further.

[2022-06-08 23:00] PXshadow commented on #110
Issue was the stdgo version of the package regexp had not been generated in a while and got skipped by having it be excluded from the excluded.json.

[2022-06-09 00:02] PXshadow opened #112 "Type resolving has a more simplified path then functions"
For example inside of ``github_com.go2hx.go4hx.rnd.Rnd`` modular class:

``github_com.go2hx.go4hx.rnd.X`` where ``X`` is a class or typedef.

``github_com.go2hx.go4hx.rnd.Rnd.y`` where ``y`` is a function.

Found this out by using ``haxe.macro.TypeTools.toString`` to resolve where types are located.

[2022-06-09 05:52] elliott5 commented on #110
Although testing of https://gobyexample.com/regular-expressions shows many other compilation errors, this issue is fixed.

[2022-06-09 05:52] #110 closed

[2022-06-09 05:54] elliott5 commented on #111
Testing https://gobyexample.com/channels, and a couple of other channel tests too, now give correct results.

[2022-06-09 05:54] #111 closed

[2022-06-09 05:56] elliott5 commented on #108
Surplus code no-longer being generated.

[2022-06-09 05:56] #108 closed

[2022-06-09 09:43] elliott5 commented on #109
For completeness, some comments previously made by e-mail:

Sadly, my model implementation of calling Go interface methods is wrong, even in its own terms, as if a variable were used to hold a `T_geometry` interface value, the methods (`_area` & `_perim`) for that variable would not be able to be found, because:

- The methods are in the Haxe class, rather than the extension;
- the methods are def

[2022-06-09 16:46] elliott5 opened #113 "repeated error: Method wrapper not found on class stdgo.internal.Macro"
23 of the [gobyexample.com ](https://gobyexample.com) short programs fail with errors including `Method wrapper not found on class stdgo.internal.Macro`.

[2022-06-09 17:01] elliott5 opened #114 "Go standard library 'sort' does not implement 3 type-specific sort functions."
In testing https://gobyexample.com/sorting three type wrappers are not implemented, although Haxe typedefs are defined for `IntSlice`, `Float64Slice` and `StringSlice` (lines 48-50 of Sort.hx).

[code]

[2022-06-11 14:27] elliott5 commented on #109
If the https://gobyexample.com/interfaces example is rewritten with the Go methods inside the original Haxe classes (not in extension classes) the `typedef` approach to describing a Go Interface (`T_geometry`) works well:
[code]
Output:
[code]
Testing would be required to see if Haxe would do the work to make this approach work in all use-cases, but it works everywhere, it would be a beautifully e

[2022-06-11 15:18] PXshadow commented on #109
@elliott5 I agree, I'm pretty sure there is edge cases that foil this plan, for example if I recall correctly when the method of a receiver gets passed either to a variable or using reflection, the function signature requires to look like the static extension version.

[2022-06-11 16:22] elliott5 commented on #109
Yes, in Go's `reflect` package both `Method` and `MethodByName` methods on `reflect.Type` return:
[code]
see https://pkg.go.dev/reflect#Type

But isn't that is just the same as returning a closure around Haxe Reflect? For example, the following code works if inserted at the end of the latest rewrite:
[code]
Fortunately for us, Haxe is quite forgiving about types ;)

[2022-06-16 05:08] PXshadow opened #115 "Compile godebug diff library for test runner output"
@elliott5 for test runner prototype used the [godebug's diff](https://github.com/kylelemons/godebug) library, it has no external dependencies and would be a great addition to see the diff for test suites such as yaegi that are based on output comparison.

This issue will track the progress on compiling the library.

[2022-06-16 05:42] elliott5 commented on #115
This would also be a great first working example of integrating a go2hx'd Go library into a Haxe project.

[2022-06-16 07:21] elliott5 commented on #115
It would also serve to prove that Go standard library code for `bytes`, `strings` and `unicode` are fully working.

Haxe test code:
[code]
Currently gives errors:
[code]

[2022-06-17 00:42] PXshadow commented on #115
That's a great idea @elliott5 I'll look into building a github action for that.

[2022-06-17 06:07] PXshadow commented on #115
Soo it looks very promising to do it via an auto commit system such as [this](https://github.com/stefanzweifel/git-auto-commit-action) there's also a possibility to do it with pull requests but having it get updated automatically for each commit seems more sound. There's quite a lot of code for it to generate to make the standard library, I think for now using the rebuild flag to recompile the ent

[2022-06-17 06:37] elliott5 commented on #115
Excellent idea to only re-go2hx the std library packages that fail their tests.

[2022-06-17 10:53] elliott5 commented on #115
...but surely after re-go2hx-ing the failing libraries, it would be sensible to re-test the new versions to see if they now pass.

[2022-07-21 02:57] PXshadow opened #116 "[jvm] IO.Overflow("write_ui16")"
[code]
[code]
error: ``IO.Overflow("write_ui16")``

Related to issue: https://github.com/HaxeFoundation/haxe/issues/9654

[2022-08-01 15:33] elliott5 opened #117 "Syscall.hx - GoInt cannot be null"
/usr/local/lib/haxe/lib/go2hx/git/stdgo/syscall/Syscall.hx:16: characters 27-31 : On static platforms, null can't be used as basic type stdgo.GoInt
/usr/local/lib/haxe/lib/go2hx/git/stdgo/syscall/Syscall.hx:17: characters 25-29 : On static platforms, null can't be used as basic type stdgo.GoInt
/usr/local/lib/haxe/lib/go2hx/git/stdgo/syscall/Syscall.hx:18: characters 27-31 : On static platforms, n

[2022-08-02 15:13] PXshadow commented on #117
Next Std generation commit should fix this.

[2022-08-03 18:30] PXshadow commented on #117
Is fixed now, changed invalid type to be pointer rather then ref so null as default should not cause this error.

[2022-08-03 18:30] #117 closed

[2022-08-12 03:17] PXshadow opened #118 "internal go type bug for signature"
``rnd/main.go``
[code]

[code]

Inside of check.json:
[code]

The fields stop being null if an arg is added to the t function.

Can you try to replicate this @elliott5 it would be helpful.

[2022-08-12 09:38] elliott5 commented on #118
I have replicated `check.json` for the above code.

`typeList/hash/0` is an empty function call signature representing `func (?) ?()`.

`typeList/hash/1` representing  `type X ?`  references `typeList/hash/0` at `methods/{ index/0 | name/"t" | type/hash/0}` to document the type of the method `t`.

Which looks correct to me.

[2022-08-12 15:16] PXshadow commented on #118
@elliott5 Well done, now how do we move forward on this, should you or I try and look into the internals and fix it, or submit an issue to go/tools with a minimal test case?

I'd like to go ahead and fix it myself but at the same time I'm quite aware how big of a rabbit hole it'd be. So I'll take your advise, on the next steps.

[2022-08-12 15:57] elliott5 commented on #118
Sorry @PXshadow, I'm not sure what you are expecting to see in this JSON other than `null` entries.

I think the only reason there is a `[]` in the `typeParams` entry is because your code puts it there at https://github.com/go2hx/go2hx/blob/acb31791c5f4143df432cec72f95e5661aff2bf6/export.go#L852

`null` is a perfectly valid entry for an empty Go `interface{}`.

Am I missing some additional piece o

[2022-08-12 16:09] PXshadow commented on #118
@elliott5 ah sorry should've been more clear, I think it's a bug that recv is null not TypeParams/results/args etc.

If I add an argument into the function like so:
[code]

I get this result:
[code]

   As you can see recv is not null but is a varType holding a hashType value exactly as it should be but if you do the example above without a function arg.. recv becomes null, which is incorrect.

[2022-08-12 17:04] elliott5 commented on #118
Before a bug can be reported (and there could be one), the code needs to be updated to use latest library - `golang.org/x/tools v0.1.12` (`go.mod` file currently specifies `golang.org/x/tools v0.1.8`).

`export.go` does not currently compile on the new version, I got the error:
[code]

If after upgrading to the new version of the library the problem persists, it should be reported, and a work roun

[2022-08-12 17:46] PXshadow commented on #118
@elliott5 Updated to the latest version.

At the bottom of the ``go.mod`` This line:
[code]
Is used to replace tools with the fork of tools found at https://github.com/go2hx/tools/
Just in case I'll update the ``go.mod``

Anyways the bug is still occurring.

[2022-08-12 19:01] elliott5 commented on #118
Because of the version incompatibility I mentioned earlier in the thread, I don't understand how `go4hx` is still compiling:

https://github.com/go2hx/go2hx/blob/e2fe642c6ed358fdce22903782a94a12d9b38ab2/export.go#L117

is incompatible with

[code]
https://pkg.go.dev/golang.org/x/tools@v0.1.12/go/packages#Load

The Go compiler should complain about the extra parameter.

[2022-08-12 19:53] PXshadow commented on #118
@elliott5 It's using the package inside go2hx's directory named "tools"
https://github.com/go2hx/tools/blob/master/go/packages/packages.go#L252

[2022-08-13 13:36] elliott5 commented on #118
The version of the go tools library packages in the https://github.com/go2hx/tools repo are not up-to-date. I'm afraid I don't know enough about Git to know why that should be.

I've recompiled `go4hx` with the up-to-date libraries by making the following change on line 117:
[code]

The resulting typeList component of the `check.json` was:
[code]

Which is the same as before.

I've checked, and th

[2022-08-13 15:02] elliott5 commented on #118
Spotted a bug, will rewrite! ;)

[2022-08-13 15:34] elliott5 commented on #118
Revised, more efficient code:
[code]

[2022-08-13 16:29] elliott5 commented on #118
Actually, calling panic() is probably not the right thing to do ... consider the case of the large number of `String()` methods in Go.

I guess it would help to use the code on the standard library to determine how often the problem actually occurs.

[2022-08-14 04:29] PXshadow commented on #118
This is a stellar and thorough job well done. I'm fine with leaving the panic() in case it can be used to quickly catch a case that slips through the cracks. I ran it against the standard library and all of the unit tests and there was no panic.

Thanks for the progress report on gobyexample :) it's nice to hear it steadily rising without actively looking at it.

You can decide what would be best

[2022-08-14 04:43] elliott5 commented on #118
Thank you @PXshadow, you are very kind.

I'm afraid lines 148 to 175 of the revised `export.go` in the commit above need to be removed as they are the (slow and buggy) 1st version of the code.

[2022-08-14 05:06] PXshadow commented on #118
@elliott5 Of course.

Unfortunately if I remove line 148 to 175, the unit tests fail on https://github.com/go2hx/go2hx/blob/master/tests/unit/complex1.go I'll look into it more tomorrow.  At quick glance (full speculation mode) I assume it's working because it's correctly modifying ``data.TypeList[i]["recv"]`` for this test correctly.

Let me know what find.

[2022-08-14 13:02] elliott5 commented on #118
Bad news I'm afraid, for the complex1.go problem you cite, both `reflect.Value` and `reflect.Flag` use the same minimal signature (with an empty recv value).

[code]

This means that the simplistic "patching" approach I was advocating will not work. So please remove the code I wrote from `export.go`.

The work-round will have to be in the code generation phase:

"full speculation mode": this will

[2022-08-14 20:04] PXshadow commented on #118
@elliott5 Ah no worries, Do you by chance have a code example for this?

I have a method for grabbing the recv value from the method type rather then the type it self and that works when it's possible but does not cover every case. I guess I could store these methods and try to match them with the equivalent type. I am a little nervous of false postive matching I'll try to see if there's a way aro

[2022-08-14 20:27] PXshadow commented on #118
Also I believe you've tested this so no speculation required!

If recv type is a var type I'll still need to know the type for the var name. So although this axiom is able to cover more cases it doesn't cover all of them correctly.

[2022-08-15 05:59] elliott5 commented on #118
Looking at the pretty-print AST for the original bug code: https://go.dev/play/p/jnruAukIaF_h

The problem AST is at line 71 onwards:
[code]

`export.go` takes the type of the whole `ast.SelectorExpr` which returns a signature type with `recv=nil `
https://github.com/go2hx/go2hx/blob/e0d6790d554cf90365fdbcf7668145eeedcfe948/export.go#L1093

What I wonder is if it would be helpful to also capture t

[2022-08-15 15:13] PXshadow commented on #118
I have removed the type patcher. You could submit a bug report with that test example.

*ast.Ident node types should be getting captured, the next step as you said above would be inspecting and combining them at generation time for a recv, I'm not that optimistic about this approach as I've said before I believe this still leaves out the recv variable name (if it has one) and potential other edge

[2022-08-15 17:17] elliott5 commented on #118
We will no doubt chat about the issue during our planned conversation on the 16th @PXshadow.

I've also noticed that `export.go` is not capturing one of the Signature type's fields (used since go1.18 for when the receiver is a generic type) - https://pkg.go.dev/go/types#Signature.RecvTypeParams

[2022-08-16 05:41] elliott5 commented on #118
This problem is something we are doing, because I can find the correct 'recv' value in test code:
https://go.dev/play/p/tfLD_QPpB1y

[2022-08-16 08:37] elliott5 commented on #118
As above, but finding correct method information (non-nil recv) from the AST:
https://go.dev/play/p/zZUU5Sg_PW6

[2022-08-16 19:36] PXshadow commented on #118
It doesn't work for the generic2.go unit test:
https://go.dev/play/p/kkXbnRgilUl

[2022-08-17 05:35] elliott5 commented on #118
Fixed at https://go.dev/play/p/Wyc9kCUi8zR

[2022-08-22 04:57] elliott5 commented on #118
After this commit, I see generic2.go passes the tests for  the `hl` and `interp` targets, but not the `jvm` target.

Significant progress @PXshadow, well done. The JVM is obviously a Haxe target that requires its own way of writing code.

[2022-08-23 07:36] PXshadow commented on #118
@elliott5 I agree with that assessment of the JVM target, though it might come down to only a few bugs in the present JVM target generator for that to be the case, which is what I'm optimistic about.

[2022-08-24 09:46] elliott5 opened #119 "haxelib run go2hx now requires full path for -output and -hl does not work"
This error as at commit 44205010d08e0cc5cd46c3563d45600d9992c451.

In good news `haxelib run go2hx main.go  --interp` still works as before.

A relative output path...
[code]
...causes the named directory to be created inside the go2hx library code!

So to generate the Haxe locally (rather than inside the library) now requires a full path:
[code]

I've been unable to get HashLink generation to wor

[2022-08-25 05:18] PXshadow opened #120 "Non linear benchmark when creating large buffers"
[code]

5k:
* Haxe: elapsed: 8.380918016s
* Go: elapsed: 34.694µs

10k:
* Haxe: elapsed: 33.374898944s
* Go: elapsed: 60.878µs

The issue is very glaring when trying to run utf8 tests as Go has a wait time of less then a second for the init function and go2hx's Haxe code takes 4+ mins at least.

[2022-08-25 09:55] elliott5 commented on #120
I'm getting similar results:

- go = 20.292µs
- --interp = 3.077111808s
- --hl = 2.906765056s

I'll take a look.

[2022-08-25 13:48] elliott5 commented on #120
I think the problem is that the go2hx code is making a new allocation every time a slice is added too, rather than adding most new items into the free capacity at the end of the slice.

The key piece of code in the Go library is in `bytes.growSlice` - When making a new buffer, its capacity should be twice that of the old buffer, to avoid too many new allocations.
[code]
https://github.com/golang/g

[2022-08-26 18:44] elliott5 commented on #119
Fixed, thank you @PXshadow.

[2022-08-26 18:44] #119 closed

[2022-08-27 07:42] PXshadow commented on #120
No performance change for latest commit
5d42496, I'm not sure what is missing for the performance gain.

[2022-08-27 07:52] elliott5 commented on #120
go2hx itself is not building for me:
[code]

[2022-08-27 16:12] PXshadow commented on #120
The standard library is not updatimg because utf8 tests is stalling the runner (because of this issue) and failing the build process, I'll make it so tests are temporarily not run for utf8 to fix this.

Sorry about this @elliott5

[2022-08-27 17:38] PXshadow commented on #120
@elliott5  You should be able to test now.

[2022-08-27 19:50] elliott5 commented on #120
--Interp fails:
[code]

--hl gives an unexpected result:
[code]

I'm not clear @PXshadow why it should work for you yet fail for me.

[2022-08-28 14:19] PXshadow commented on #120
@elliott5 can you show me the line it fails on for ``GoString``?

[2022-08-28 15:39] elliott5 commented on #120
Line 76 on my machine is:
[code]

Whole function is:
[code]

Since the error is complaining that an int is "`?g(false)`" it suggests that the "i" value in the expression is corrupt.

My guess is that an extra `.toBasic()` is required to give the correct end of the range, and the loop should be:
[code]

[2022-08-28 16:25] elliott5 commented on #120
The other possibility is that very large `Slice` allocations or incorrect `haxe.ds.Vector.blit` parameters, have over-written the stack, as "i" is stored on the stack.

[2022-08-28 16:45] PXshadow commented on #120
@elliott5 you may be right, I wish I could reproduce I've never seen a ``?g(false`` error before, if possible could you try to test on your non m1 mac as well perhaps it's occurring from that. If you can also get an isolated test case that would be great?

[2022-08-28 16:56] elliott5 commented on #120
I can try it on my old mac tomorrow @PXshadow.

Reading through the code, is it a problem that in `Slice.hx` `SliceData<T>` a number of the functions do not reference `pos` when I would have expected them to:
- `toArray`
- `toVector`
- `underlying`
- `grow`

[2022-08-28 17:10] elliott5 commented on #120
As for "an exact test case", I'm running the code at the start of this thread.

[2022-08-28 20:43] PXshadow commented on #120
Oh yes of course sorry, I forgot 😅

[2022-08-29 09:09] elliott5 opened #121 "For the --interp and --hl (bytecode) targets, Array and Slice contents initialise as null, against the Go spec"
The Go spec says that all types should initialise to their default values, which in Go is always 0s.

However in Haxe default values may or may not be 0, depending on the type.

So when initialising Arrays, Slices, or any other variable, the default value(s) for that type needs to be written into the newly created storage.

[2022-08-29 09:35] elliott5 commented on #121
Need to find code to demonstrate the problem, so closing for now.

[2022-08-29 09:35] #121 closed

[2022-08-29 11:31] elliott5 commented on #120
As requested, terminal transcript from my running the original code on my x86 mac:
[code]

To be fair, on the M1 mac I get similar results, with only the --interp code failing:
[code]

Suspicion must fall on --interp use of "bilt".

But it is still very slow...

[2022-08-29 11:40] elliott5 commented on #120
...one reason it is slow may be:
https://github.com/go2hx/go2hx/blob/c4efb51560e84f20653e8df3741f5083f4758e99/stdgo/Slice.hx#L130

Every time `Slice<T>.__append__(args:Rest<T>):Slice<T>` is called, all of the slice's data is copied!

Go just writes the new contents into the free space of the existing slice, if there is capacity.
If there is not capacity, then it allocates a new underlying array an

[2022-08-29 13:53] PXshadow commented on #120
@elliott5 Isn't a new copy required each time for append because append copies the slice?

[2022-08-29 14:12] elliott5 commented on #120
To quote the Go doc for append:

See https://pkg.go.dev/builtin#append

[2022-08-29 15:09] PXshadow commented on #120
@elliott5 I see the issue now thank you! Should only at most have 1 allocation per append, right now it's possible to have 2 and the copy is premature at the top of the append.

[2022-08-31 09:46] elliott5 opened #122 "utf8.go -> Utf8.hx code generation (1) excludes public constants, (2) makes private type a public class"
### (1) Missing:

[code]
The above Go public constants are missing from the generated Haxe code.

### (2) Private -> Public:

[code]

The above private Go type generates the public Haxe class below.
[code]

[2022-09-01 08:38] elliott5 opened #123 "Low priority: Go pathname containing "-" does not work correctly."
The example program at https://github.com/masatana/go-textdistance does not go2hx correctly.

[code]

The path to "go-textdistance" is not correctly emitted into Haxe:

[code]

Haxe errors:
[code]

[2022-09-02 15:58] PXshadow commented on #122
@elliott5 Is this issue resolved now?

[2022-09-02 16:01] PXshadow commented on #120
Once utf8 passes this issue should be closed as the init code for utf8 test relies on this benchmark being fast enough to not timeout the test runner.

[2022-09-02 16:02] PXshadow opened #124 "Jvm target generic2 test fails"
The JVM is obviously a Haxe target that requires its own way of writing code.

_Originally posted by @elliott5 in https://github.com/go2hx/go2hx/issues/118#issuecomment-1221824295_

[2022-09-02 16:02] #118 closed

[2022-09-02 16:24] elliott5 opened #125 "Documentation comments around a Go interface do not transfer into Haxe typedef"
[code]
generates:
[code]
but it should generate:
[code]

[2022-09-02 16:57] elliott5 opened #126 "Transfer of the Go package level documentation into Haxe"
Haxe's Run Time Type Information does not include the general documentation of the package/module, and so cannot be picked up by `go2hxdoc`.

My suggestion is to create a module level variable with a well known name to hold that information.

I think the variable should be the first code in the generated Haxe file, after the `import` statements, so that its documentation would be useful for reader

[2022-09-03 05:45] elliott5 commented on #120
The speed issue is certainly much improved: µs in Go, ms in (interpreted) Haxe.

The only immediate issue remaining is the difference between Go & Haxe bytes.Buffer capacity figures: 8192 for Go 7292 for Haxe. But perhaps this should be the subject of another issue.

[code]

[2022-09-03 06:29] PXshadow commented on #120
@elliott5 yes a new issue for the capacity difference of bytes buffer would be great.

[2022-09-03 07:01] elliott5 opened #127 "Capacity of slice does not match in use by bytes.Buffer between Go and generated Haxe"
This issue springs from issue #120

Code:
[code]

Results:
[code]

[2022-09-03 12:02] elliott5 opened #128 "Errors compiling to the HL/C target (medium term issue)"
In attempting to see if issue #120 would go faster if compiled, I tried to compile to HL/C, but had errors:
[code]

Most of these errors appear to be naming clashes, so will need to be resolved in order to target C in this way.

[2022-09-03 12:58] elliott5 commented on #128
From the above, it would seem that if you use the name `bool` in your Haxe, HL/C does not alter the name so as not to clash with the C usage.

[2022-09-03 13:58] elliott5 opened #129 "Errors compiling to the C++ target (needed before live)"
For the code in issue #127 the CPP target works correctly!

But for the code in issue #120 I get:
[code]

In part, it seems like a name clash between the `unsafe` package and C++ internals.

[2022-09-03 14:17] elliott5 commented on #129
Command lines for both tests:
[code]

[2022-09-03 15:41] PXshadow commented on #127
@elliott5 do by chance know the formula for growing capacity?

[2022-09-03 16:03] elliott5 opened #130 "Generate the test code and a test entry point for all imported packages"
The go2hx compiler should generate the test code and a test entry point (if *_test.go files exist) for all imported packages, both for documentation purposes and testing.

Go2hx users should be able to run the "go test" code of imported Go packages themselves, to satisfy themselves that the package works on their intended target.

[2022-09-03 16:57] elliott5 commented on #127
There is a very good blog post on slices [here](https://go.dev/blog/slices-intro) that explains how it works in general.

To summarise:

By default, unless told otherwise (slicing or new capacity), the length of the underlying array is the length of the contents.

The capacity of the underlying array of a slice can be set by the user on creation. This is what is done by the Go bytes.Buffer code (u